.breadcrumbs__list {
  position: absolute;
  z-index: 100;
  top: 20px;
  right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 0 0 0 50px;
  .breadcrumbs__item:last-child {
    .breadcrumbs__link {
      font-family:$font-semibold;
      text-decoration: none;
      pointer-events: none;
    }
  }
}
.breadcrumbs__item {
  position: relative;
  list-style: none;
  &::after {
    font-size: 12px;
    margin: 0 3px 0 4px;
    content: '/';
    color: #fff;
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}
.breadcrumbs__link {
  font-size: 12px;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
}
