.popup__layer-2 {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, .85);
}
.geolocation {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;

  @include max(700) {
    margin-bottom: 30px;
  }
  flex: none;
  @include max(750) {
    display: none;
  }
  @include max(700) {
    display: flex;
    margin: 0 auto 20px;
  }
}
.geolocation-phone__link {
  font-family: $font-bold;
  font-size: 25px;
  display: none;
  margin-right: 20px;
  white-space: nowrap;
  text-decoration: none;
  color: $title;

  @include max(1360) {
    font-size: 20px;
  }
  span {
    color: #969696;
  }
  &.active {
    display: block;
  }
}
.geolocation-region {
  //font-size: 13px;
  //position: relative;
  //display: flex;
  //justify-content: flex-end;
  //text-align: right;
  //white-space: nowrap;
  span {
    //margin-right: 3px;
  }
}
.geolocation-region__city {
  font-family: $font-light;
  font-size: 12px;
  display: none;
  margin-right: 18px;
  text-transform: uppercase;
  color: #969696;
  &.active {
    display: block;
  }
}
//  begin geolocation-region__popup
.geolocation-region__popup {
  position: absolute;
  z-index: 100;
  top: calc(100% + 19px);
  right: 0;
  display: none;
  padding: 40px;
  background-color: #fff;
  .btn {
    line-height: 58px;
    height: 60px;
    cursor: pointer;
    white-space: nowrap;
  }
  .btn-rr {
    padding: 0 85px;
  }
  .btn-no {
    padding: 0 50px;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    &:hover {
      text-decoration: none;
    }
  }
  &::before {
    position: absolute;
    top: -10px;
    right: 0;
    width: 10px;
    height: 10px;
    content: '';
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
  }
}
.geolocation-region__popup-title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: $title;
}
.geolocation-region__btn-wrap {
  display: flex;
  justify-content: space-between;
}
//  end geolocation-region__popup

// begin .geolocation-region__popup-city
.geolocation-region__popup-city {
  position: absolute;
  z-index: 100;
  top: calc(100% + 10px);
  right: 20px;
  display: none;
  min-width: 270px;
  margin: 0;
  padding: 15px;
  transition: transform .5s;
  background-color: #f0f0f0;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    font-size: 13px;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    padding: 10px 20px;
    list-style: none;
    cursor: pointer;
    transition: color .5s;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
    color: $text;
    &:hover {
      color: #2b374d;
    }
  }
}
// end .geolocation-region__popup-city