.header-menu__list {
  display: flex;
  margin: 0;
  padding: 0;
}
.header-menu__item {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-menu__link {
  font-size: 14px;
  text-decoration: none;
  color: $text;
  transition: color .5s;
  &:hover {
    color: $highlight;
  }
  display: inline-block;
  padding: 40px 15px;
}

.header-menu__item-parents {
  position: relative;
  &:hover {
    .header-menu__sublist {
      transform: scale(1);
    }
  }
}
.header-menu__sublist {
  position: absolute;
  z-index: 10;
  left: 15px;
  top: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0;
  transform: scale(0);
  transition: transform .5s;
}
.header-menu__subitem {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-menu__sublink {
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  color: $text;
  transition: color .5s;
  &:hover {
    color: $highlight;
  }
  display: inline-block;
  padding: 10px 20px;
}