.header {
  background-color: #fff;
  .container-lg {
    display: flex;
    align-items: center;
    height: 100px;
  }
}
.header-logo {
  z-index: 10;
  display: inline-block;
  margin-top: 3px;
  margin-right: 50px;
  text-indent: -9999px;

  @include max(1360) {
    margin-right: 30px;
  }

  img {
    display: block;
    width: 100%;
  }
}
.header-logo__title {
  position: absolute;
}

//begin header__right
.header__right {
  z-index: 100;
  margin-left: auto;
}
.header__right-inn {
  display: flex;
  align-items: center;

  @include max(700) {
    position: absolute;
    top: 100px;
    right: -20px;
    left: -20px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: $transition;
    pointer-events: none;
    visibility: hidden;
    background-color: #f0f0f0;
  }
  @include max(425) {
    right: -10px;
    left: -10px;
  }
  &.active {
    transform: scale(1);
    pointer-events: auto;
    opacity: 1;
  }
}
.header__right-button {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-right: -20px;
  border: none;
  background-color: $highlight;

  @include max(750) {
    display: flex;
    cursor: pointer;
    margin-right: 0px;
  }
  @include max(700) {
    margin-right: -20px;
  }
  @include max(425) {
    margin-right: -10px;
  }
  svg {
    max-width: 60px;
    max-height: 60px;
    fill: #fff;
  }
}
.header__right-button {
  overflow: hidden;
  position: relative;
  .geolocation-phone {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
//end header__right

//begin callback
.header-callback {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
  transition: background-color .5s ease-in-out;
  border: 1px solid $highlight;
  border-radius: 50%;
  background-color: transparent;

  @include max(1500) {
    display: none;
  }
  &:hover {
    background-color: $highlight;
    svg {
      fill: #fff;
    }
  }
  svg {
    display: block;
    max-width: 17px;
    max-height: 17px;
    transition: fill .5s ease-in-out;
    fill: $highlight;
  }
}
//end callback

//begin cabinet
.header-cabinet {
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  padding: 0 0 0 25px;
  transition: color .5s ease-in-out;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: #969696;
  background-image: url('../img/cabinet.png');
  background-repeat: no-repeat;
  background-position: 0 50%;

  @include max(1360) {
    font-size: 12px;
  }
  @include max(750) {
    display: none;
  }
  &:hover {
    color: $highlight;
  }
}
//end cabinet

//begin lang-switcher
.lang-switcher {
  position: absolute;
  top: 95px;
  right: -58px;
  display: flex;
  flex-direction: column;

  @include max(1360) {
    right: -38px;
  }
  @include max(768) {
    position: static;
    margin-left: 15px;
  }
  @include max(750) {
    display: none !important;
  }
}
.lang-switcher__link {
  display: block;
  margin-bottom: 10px;
  transition: color .5s ease-in-out;
  text-decoration: none;
  color: #969696;
  &.active {
    color: #2a374c;
  }
}
//end   lang-switcher
