.quick-start {
  @include max(1100) {
    background-image: url('../../img/bg-quick-start-sm.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .container {
    position: relative;
    min-height: 640px;
    padding-top: 100px;
    padding-bottom: 100px;
    @include max(1100) {
      min-height: 0;
    }
    &::before {
      position: absolute;
      top: 0;
      right: 60px;
      bottom: 0;
      left: -100%;
      margin: auto;
      content: '';
      background-image: url('../../img/bg-quick-start.jpg');
      background-repeat: repeat-x;
      background-position: 100% 0;
      background-size: contain;
      @include max(1100) {
        display: none;
      }
    }
  }
}
.quick-start-header {
  position: relative;
  margin-bottom: 20px;
}
.quick-start__title {
  margin-bottom: 10px;
  color: #fff;
}
.quick-start__subtitle {
  font-family: $font-light;
  font-size: 15px;
  color: #fff;
}
.quick-start-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-right: 310px;
  @include max(1100) {
    padding-right: 0;
  }
}
//begin inputs
.quick-start-form__item-inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 35px;
  @include max(700) {
    width: 100%;
    padding-right: 0;
  }
}
.quick-start__input {
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
  padding: 20px 28px;
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;

  @include placeholder-color(#fff);
}
//end inputs

//begin checkboxes
.quick-start-form__item-checkboxes {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 35px;
  @include max(1100) {
    padding-right: 0;
  }
  @include max(700) {
    width: 100%;
  }
}
.quick-start__checkbox {
  display: flex;
  input {
    position: absolute;
    visibility: hidden;
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  input:checked + label:after {
    background-image: url('../../img/check-w.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  label {
    font-family: $font;
    font-size: 16px;
    position: relative;
    margin-bottom: 20px;
    padding-left: 35px;
    color: #fff;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      content: '';
      border: 2px solid #fff;
      background-color: transparent;
    }
    &::after {
      position: absolute;
      top: -4px;
      left: 4px;
      width: 18px;
      height: 18px;
      content: '';
      background-color: transparent;
    }
  }
}
//end checkboxes

//begin submit
.quick-start-form__item-submit {
  position: absolute;
  top: 5px;
  right: 112px;
  overflow: hidden;
  width: 298px;
  height: 298px;
  cursor: default;
  border-radius: 50%;
@include max(1100) {
  border-radius: 0;
  position: static;
  order:10;
  width: auto;
  height: auto;
}
  &:hover {
    &::after {
      opacity: 0;
    }
  }
  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    transition: opacity .5s ease-in-out;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    @include max(1100) {
      display: none;
    }
  }
  &::before {
    background-image: url('../../img/quick-btn-hov.png');
  }
  &::after {
    background-image: url('../../img/quick-btn.png');
  }

  input {
    min-width: 200px;
    width: 298px;
    height: 298px;
    cursor: pointer;
    opacity: 0;
    @include max(1100) {
      opacity: 1;
      width: auto;
      height: auto;
    }
  }
}
//end submit

.quick-start-form__item-footer {
  width: 100%;
  max-width: 600px;
  @include max(1100) {
    max-width: 100%;
  }
  input:checked + label:after {
    background-image: url('../../img/check-w.png');
  }
  label {
    color: #fff;
    &::before {
      border: 2px solid #fff;
    }
  }
  a {
    color: #fff !important;
  }
}
