//begin footer
footer.footer
  .footer-top
  .footer-bottom
    .container-lg
      .footer-copyright
        span &#169; 2009-2017 ТОП Рекрутинг.  All Rights Reserved

      .footer-social
        ul.footer-social__list
          li.footer-social__item
            a(href="#").footer-social__link
              svg
                use(xlink:href="assets/img/sprite.svg#in")
          li.footer-social__item
            a(href="#").footer-social__link
              svg
                use(xlink:href="assets/img/sprite.svg#fb")
          li.footer-social__item
            a(href="#").footer-social__link
              svg
                use(xlink:href="assets/img/sprite.svg#vk")


//end   footer