//begin footer
footer.footer
  //begin footer top
  .footer-top
    .container-lg
      .footer-item
        a(href="#").footer-logo
          img(src="assets/img/logo-footer.png" alt="company logo")
        a(href="#").footer-accredit аккредитованное ЧАЗ
        .footer-adress
          a(href="#" target="_blank" rel="nofollow noopener noreferrer")
            span Санкт-Петербург
            br
            |Невский проспект, 21
            br
            |БЦ"Дом Мертенса"
          a(href="tel:+78123200121") +7 812 320 01 21
        .footer-adress
          a(href="#" target="_blank" rel="nofollow noopener noreferrer")
            span Москва
            br
            |Москва-сити, Башня
            br
            |Федерация Запад, 45-ый этаж
          a(href="tel:+74959098177") +7 495 909 81 77

      .footer-item
        h3.footer-item__title О компании
        ul.footer-item__list
          li.footer-item__item
            a(href="#").footer-item__link Наша команда
          li.footer-item__item
            a(href="#").footer-item__link Наши клиенты
          li.footer-item__item
            a(href="#").footer-item__link Реализованные кейсы
          li.footer-item__item
            a(href="#").footer-item__link Миссия компании
          li.footer-item__item
            a(href="#").footer-item__link Стандарты качества
          li.footer-item__item
            a(href="#").footer-item__link Этический кодекс рекрутера

      .footer-item
        h3.footer-item__title Работодателю
        ul.footer-item__list
          li.footer-item__item
            a(href="#").footer-item__link Подбор персонала
          li.footer-item__item
            a(href="#").footer-item__link Оценка персонала
          li.footer-item__item
            a(href="#").footer-item__link Исследования рынка
          li.footer-item__item
            a(href="#").footer-item__link Кадровый консалтинг
          li.footer-item__item
            a(href="#").footer-item__link Заявка на персонал

      .footer-item
        h3.footer-item__title Соискателю
        ul.footer-item__list
          li.footer-item__item
            a(href="#").footer-item__link Трудоустройство Топ-менеджеров
          li.footer-item__item
            a(href="#").footer-item__link Вакансии в Москве
          li.footer-item__item
            a(href="#").footer-item__link Вакансии в Санкт-Петербурге
          li.footer-item__item
            a(href="#").footer-item__link Вакансии в регионах
          li.footer-item__item
            a(href="#").footer-item__link Отправить резюме

      .footer-item
        h3.footer-item__title Требования
        ul.footer-item__list
          li.footer-item__item
            a(href="#").footer-item__link Оценка условий труда
          li.footer-item__item
            a(href="#").footer-item__link Защита персональных данных
  //end footer top

  //begin footer bottom
  .footer-bottom
    .container-lg
      .footer-copyright
        span &#169; 2009-2017 ТОП Рекрутинг.  All Rights Reserved

      .footer-social
        ul.footer-social__list
          li.footer-social__item
            a(href="#").footer-social__link
              svg
                use(xlink:href="assets/img/sprite.svg#in")
          li.footer-social__item
            a(href="#").footer-social__link
              svg
                use(xlink:href="assets/img/sprite.svg#fb")
          li.footer-social__item
            a(href="#").footer-social__link
              svg
                use(xlink:href="assets/img/sprite.svg#vk")
  //end footer bottom


//end   footer