// begin header
header.header
  .container-lg
    a(href="#").header-logo
      h1.header-logo__title Top Recruiting
      img(src="assets/img/logo.png" alt="company logo")

    //begin header-menu
    nav.header-menu
      include ../elements/burger
      ul.header-menu__list#header-menu__list
        li.header-menu__item
          a(href="#").header-menu__link О компании
        li.header-menu__item.header-menu__item-parents
          a(href="#").header-menu__link Работодателю
          span +
          ul.header-menu__sublist
            li.header-menu__subitem
              a(href="#").header-menu__sublink Подпункт 1
            li.header-menu__subitem
              a(href="#").header-menu__sublink Подпункт 2
            li.header-menu__subitem
              a(href="#").header-menu__sublink Длинный подпункт 3
            li.header-menu__subitem
              a(href="#").header-menu__sublink Подпункт 4
            li.header-menu__subitem
              a(href="#").header-menu__sublink Подпункт 5
            li.header-menu__subitem
              a(href="#").header-menu__sublink Длинный подпункт 6
        li.header-menu__item.header-menu__item-parents
          a(href="#").header-menu__link Соискателю
          span +
          ul.header-menu__sublist
            li.header-menu__subitem
              a(href="#").header-menu__sublink Подпункт 1
            li.header-menu__subitem
              a(href="#").header-menu__sublink Подпункт 2
            li.header-menu__subitem
              a(href="#").header-menu__sublink Длинный подпункт 3
        li.header-menu__item
          a(href="#").header-menu__link Новости
        li.header-menu__item
          a(href="#").header-menu__link Контакты
    //end   header-menu

    .header__right
      button.header__right-button
        svg
          use(xlink:href="assets/img/sprite.svg#header-right")
      .header__right-inn
        
        //begin geolocation
        section.geolocation
          a(href="#").geolocation-city МСК
          a(href="tel:+78123200121").geolocation-phone
            span +7 812
            =" "
            |320 01 21
        //end   geolocation

        a(href="#").header-callback
          svg
            use(xlink:href="assets/img/sprite.svg#header-right")

        a(href="#").header-cabinet Личный кабинет

        //begin lang-switcher
        section.lang-switcher
          a(href="#").lang-switcher__link.active ru
          a(href="#").lang-switcher__link en
        //end   lang-switcher




// end   header