// begin header
header.header
  .container-lg
    a(href="#").header-logo
      span.header-logo__title Top Recruiting
      img(src="assets/img/logo.png" alt="company logo")

    //begin header-menu
    nav.header-menu
      include ../elements/burger
      .header-menu__list-wrap#header-menu__list-wrap
        ul.header-menu__list#header-menu__list
          li.header-menu__item
            a(href="#").header-menu__link О компании
          li.header-menu__item.header-menu__item-parents
            a(href="#").header-menu__link Работодателю
            span +
            ul.header-menu__sublist
              li.header-menu__subitem
                a(href="#").header-menu__sublink Подпункт 1
              li.header-menu__subitem
                a(href="#").header-menu__sublink Подпункт 2
              li.header-menu__subitem
                a(href="#").header-menu__sublink Длинный подпункт 3
              li.header-menu__subitem
                a(href="#").header-menu__sublink Подпункт 4
              li.header-menu__subitem
                a(href="#").header-menu__sublink Подпункт 5
              li.header-menu__subitem
                a(href="#").header-menu__sublink Длинный подпункт 6
          li.header-menu__item.header-menu__item-parents
            a(href="#").header-menu__link Соискателю
            span +
            ul.header-menu__sublist
              li.header-menu__subitem
                a(href="#").header-menu__sublink Подпункт 1
              li.header-menu__subitem
                a(href="#").header-menu__sublink Подпункт 2
              li.header-menu__subitem
                a(href="#").header-menu__sublink Длинный подпункт 3
          li.header-menu__item
            a(href="#").header-menu__link Новости
          li.header-menu__item
            a(href="#").header-menu__link Контакты

        a(href="#" data-open="cabinet").header-cabinet.popup-open Личный кабинет

        //begin lang-switcher
        section.lang-switcher
          a(href="#").lang-switcher__link.active ru
          a(href="#").lang-switcher__link en
        //end   lang-switcher
    //end   header-menu

    .header__right
      button.header__right-button
        svg
          use(xlink:href="assets/img/sprite.svg#header-right")
      .header__right-inn

        //begin geolocation
        section.geolocation
          .popup__layer-2

          .geolocation-region
            a(href="#").geolocation-region__city.geolocation-region__city-msk МСК
            a(href="#").geolocation-region__city.geolocation-region__city-spb.active СПБ
          .geolocation-phone
            a(href="tel:88000000000").geolocation-phone__link.geolocation-phone__link-msk
              span +8 800
              =" "
              | 000 00 00
            a(href="tel:78123200121").geolocation-phone__link.geolocation-phone__link-spb.active
              span +7 812
              =" "
              | 320 01 21
            .geolocation-region__popup
              h3.geolocation-region__popup-title Ваш регион Санкт-Петербург?
              .geolocation-region__btn-wrap
                button.btn.btn-rr Да
                button.btn.btn-no Нет, изменить регион
            .geolocation-region__popup-city
              ul
                li(data-city="msk") Москва
                li(data-city="spb") Санкт-Петербург
        //end   geolocation

        a(href="#" data-open="callback").header-callback.popup-open
          svg
            use(xlink:href="assets/img/sprite.svg#header-right")

        a(href="#" data-open="cabinet").header-cabinet.popup-open Личный кабинет

        //begin lang-switcher
        section.lang-switcher
          a(href="#").lang-switcher__link.active ru
          a(href="#").lang-switcher__link en
        //end   lang-switcher




// end   header