//begin second-section
section#second-section.index-second
  .container
    .index-second__left
      h2.title
        |Рекрутинговое агенство
        br
        |Санкт-Петербурга
      p Компания «ТОП Рекрутинг» – ведущее рекрутинговое агентство СПб. За годы продуктивной работы в известных российских компаниях в области ритейла, логистики, строительства и FMCG нами накоплен уникальный опыт и понимание современной кадровой ситуации.
      p Благодаря блестящим компетенциям наше HR агентство может предложить действительно работающие кадровые решения и удовлетворить Ваши потребности в профессионалах.

    .index-second__right
      img(src="assets/img/index-second.jpg" alt="image")
      .index-second__table
        h4.index-second__table-title Миссия компании:
        h5.index-second__table-subtitle
          |Содействие развитию
          br
          |цивилизованного рынка труда
//end   second-section