//begin news-sec
section.news-sec
  .container
    a(href="#").news-sec__more еще
    .news-sec__inn
      h2.news-sec__title Новости
      .news-sec__item
        .news-sec__date
          span 17/09
        .news-sec__text
          h3.news-sec__item-title Ольга Бикбаева: «Тайный покупатель» в премиум-сегменте и другие спецпроекты
          p Работа здесь открывает для меня много возможностей профессионального и личностного развития, говорит руководитель специальных проектов "ТОП Рекрутинг" Ольга Бикбаева.
          a(href="#").news-sec__item-link читать новость

      .news-sec__item
        .news-sec__date
          span 23/08
        .news-sec__text
          h3.news-sec__item-title Ольга Бикбаева: «Тайный покупатель» в премиум-сегменте и другие спецпроекты
          p Работа здесь открывает для меня много возможностей профессионального и личностного развития, говорит руководитель специальных проектов "ТОП Рекрутинг" Ольга Бикбаева.
          a(href="#").news-sec__item-link читать новость

//end news-sec