mixin our-clients__slider-item(image, title, subtitle, text)
  //begin our-clients-sec__item
  li.our-clients__slider-item
    .our-clients__slider-pic
      img(src="assets/img/our-clients-sec/our-clients-sec-" + image + ".png" alt="image")
    h3.our-clients__slider-title= title
    p
      span= subtitle
    p= text
    a(href="#").our-clients__slider-link читать полный отзыв

  //end our-clients-sec__item

//begin our-clients-sec
section.our-clients-sec
  .container
    header.our-clients-sec__header
      h2.title Наши клиенты
    .our-clients-sec__slider
      ul.our-clients-sec__list
        +our-clients__slider-item(
        '01',
        'Ювелирная сеть',
        'Крупнейшая по количеству магазинов розничная ювелирная торговая сеть России',
        'ООО “ТОП-Рекрутинг” является партнером компании с 2010 года. За период сотрудничества компания зарекомендовала себя как надежный и стабильный партнер.'
        )
        +our-clients__slider-item(
        '02',
        'Строительный холдинг',
        'Является признанным лидером в сегменте элитного жилья и бизнес-класса',
        'Наша компания пользуется услугами по подбору персонала различного уровня сложности с мая 2011 года, отметим, что предоставляемые услуги проводятся в срок, качественно и организованно.'
        )
        +our-clients__slider-item(
        '03',
        'Косметика и парфюмерия',
        'Одна из ведущих розничных сетей по продаже косметики в Санкт-Петербурге',
        'За время сотрудничества сотрудники компании проявили высокий профессионализм, творческий подход и оперативность в закрытии вакансий высокого уровня сложности.'
        )
        +our-clients__slider-item(
        '04',
        'Производственная компания',
        'Лидирующая российская компания в области разработки и производства одежды',
        'Мы успешно сотрудничаем с Компанией ООО “ТОП-Рекрутинг” с 2011 года, по подбору управленческих кадров высокого уровня, таких как директора по продажам, логистике и закупке и другие.'
        )
        +our-clients__slider-item(
        '05',
        'Чайная ложка',
        'Крупнейшая по количеству магазинов розничная ювелирная торговая сеть России',
        'ООО “ТОП-Рекрутинг” является партнером компании с 2010 года. За период сотрудничества компания зарекомендовала себя как надежный и стабильный партнер.'
        )
        +our-clients__slider-item(
        '01',
        'Ювелирная сеть',
        'Крупнейшая по количеству магазинов розничная ювелирная торговая сеть России',
        'ООО “ТОП-Рекрутинг” является партнером компании с 2010 года. За период сотрудничества компания зарекомендовала себя как надежный и стабильный партнер.'
        )
        +our-clients__slider-item(
        '02',
        'Строительный холдинг',
        'Является признанным лидером в сегменте элитного жилья и бизнес-класса',
        'Наша компания пользуется услугами по подбору персонала различного уровня сложности с мая 2011 года, отметим, что предоставляемые услуги проводятся в срок, качественно и организованно.'
        )
        +our-clients__slider-item(
        '03',
        'Косметика и парфюмерия',
        'Одна из ведущих розничных сетей по продаже косметики в Санкт-Петербурге',
        'За время сотрудничества сотрудники компании проявили высокий профессионализм, творческий подход и оперативность в закрытии вакансий высокого уровня сложности.'
        )
        +our-clients__slider-item(
        '04',
        'Производственная компания',
        'Лидирующая российская компания в области разработки и производства одежды',
        'Мы успешно сотрудничаем с Компанией ООО “ТОП-Рекрутинг” с 2011 года, по подбору управленческих кадров высокого уровня, таких как директора по продажам, логистике и закупке и другие.'
        )
        +our-clients__slider-item(
        '05',
        'Чайная ложка',
        'Крупнейшая по количеству магазинов розничная ювелирная торговая сеть России',
        'ООО “ТОП-Рекрутинг” является партнером компании с 2010 года. За период сотрудничества компания зарекомендовала себя как надежный и стабильный партнер.'
        )
//end our-clients-sec
