//begin podbor
section.podbor
  .container
    .podbor__left
      img(src="assets/img/podbor.jpg" alt="image")

    .podbor__right
      h2.title
        | Подбор персонала
        br
        | компанией Топ Рекрутинг
      p Рекрутинговое агентство «ТОП Рекрутинг» специализируется на подборе персонала высшего управленческого звена, а также поиске специалистов узкого профиля в СПб и других городах.
      p С 2010 года агентство кадров СПб «ТОП Рекрутинг» является самостоятельным юридическим лицом, которое осуществляет свою деятельность не только в России, но и за рубежом. Нам удалось воплотить множество успешных проектов разного уровня сложности и масштаба.
      p Знание современных тенденций кадрового рынка позволяет подбирать персонал для всех сфер и отраслей. Наряду с привычными областями девелопмента и ритейла, мы осуществляем поиск ТОП-менеджеров финансовой и телекоммуникационной сферы, производства и инжиниринга.
//end podbor