mixin service-slider__item(text)
  //begin service-slider__item
  li.service-slider__item
    p= text
  //end service-slider__item

//begin service-sec
section.service-sec

  .container
    header.service-sec__header
      h2.title Перечень профессиональных услуг HR агентства «ТОП Рекрутинг»
    .service-slider
      .service-sec__counter
        span.service-sec__counter-tab#service-sec__counter-tab 1
        span.service-sec__counter-delimiter /
        span.service-sec__counter-all#service-sec__counter-all
      ul.service-sec__list
        +service-slider__item('Поиск, подбор персонала высшего звена, узкопрофильных специалистов с учетом «ментальности» корпоративной структуры Клиента,')
        +service-slider__item('Второй Поиск, подбор персонала высшего звена, узкопрофильных специалистов с учетом «ментальности» корпоративной структуры Клиента,')
        +service-slider__item('Третий Поиск, подбор персонала высшего звена, узкопрофильных специалистов с учетом «ментальности» корпоративной структуры Клиента,')
        +service-slider__item('Четвертый Поиск, подбор персонала высшего звена, узкопрофильных специалистов с учетом «ментальности» корпоративной структуры Клиента,')
        +service-slider__item('05 Поиск, подбор персонала высшего звена, узкопрофильных специалистов с учетом «ментальности» корпоративной структуры Клиента,')
        +service-slider__item('06 Поиск, подбор персонала высшего звена, узкопрофильных специалистов с учетом «ментальности» корпоративной структуры Клиента,')
        +service-slider__item('07 Поиск, подбор персонала высшего звена, узкопрофильных специалистов с учетом «ментальности» корпоративной структуры Клиента,')
  .service-sec__book
    p Уровень оказания услуг агентства «ТОП Рекрутинг»  соответствует «Стандартам Качества Рекрутинга» и «Этическому кодексу Рекрутера»
//end service-sec
