//begin top-section
.top-block
  .container-lg
    include ../elements/magnific
    .top-sliders-wrap
      .top-slider.top-slider__left
        ul.top-slider__list
          li.top-slider__item(style="background-image:url('assets/img/top-slider/slide-1-01.jpg')")
          li.top-slider__item(style="background-image:url('assets/img/top-slider/slide-1-02.jpg')")
          li.top-slider__item(style="background-image:url('assets/img/top-slider/slide-1-03.jpg')")
          li.top-slider__item(style="background-image:url('assets/img/top-slider/slide-1-04.jpg')")
        .top-slider__banner
          h2.top-slider__title Работодателю
          p
            | Лучшие кандидаты на топовые вакансии
            br
            | на следующий день после заявки
          a(href="#").btn найти сотрудников

      .top-slider.top-slider__right
        ul.top-slider__list
          li.top-slider__item(style="background-image:url('assets/img/top-slider/slide-2-01.jpg')")
          li.top-slider__item(style="background-image:url('assets/img/top-slider/slide-2-02.jpg')")
          li.top-slider__item(style="background-image:url('assets/img/top-slider/slide-2-03.jpg')")
        .top-slider__banner
          h2.top-slider__title Соискателю
          p
            | Подбор лучших мест работы
            br
            | под ваши ключевые компетенции
          a(href="#").btn найти работу


//end top-section