mixin test__item(bgImg, title)
  .services__item(style="height: 100px; border: 1px solid #693;text-align:center;")
    .services__pic(style=`${bgImg}`)
    .services__icon
    h3.services__title #{title}
    a(href="#").services__link