//begin agree checkbox
.agree-checkbox
  input(type="checkbox" id="agree-01" class="agree" checked)
  label(for="agree-01")
    | Ставя отметку, я даю своё согласие на обработку моих персональных данных в соответствии с законом № 152-ФЗ "О персональных данных" от 27.07.2006 и принимаю условия
    a(href="/agree.html") Пользовательского соглашения
//end   agree checkbox