//begin magnific
.magnific-section
  img(src="assets/img/logo-magnific-g.svg" alt="logo").img-grey
  .magnific-section__inn
    img(src="assets/img/logo-magnific-w.svg" alt="logo").img-white
//end magnific