
.popup__layer
//begin success popup
.popup-success#popup-success
  .popup-close
    svg
      use(xlink:href="assets/img/sprite.svg#close")
  .popup__inn
    h4.popup__title Ваше сообщение отправлено
    h5.popup__subtitle Мы свяжемся с Вами в ближайшее время.
//end success popup


//begin popup callback
.popup#popup-callback
  .popup-close
    svg
      use(xlink:href="assets/img/sprite.svg#close")
  .popup__inn
    h3.popup__title Заказать обратный звонок
    form.popup__form
      input.popup__input(type="text" name="name" placeholder="Как к Вам обращаться?*" required)
      input.popup__input(type="tel" name="phone" placeholder="Телефон*" required)
      .popup__form-footer
        include ../elements/agree-checkbox
        input.popup__submit.btn(type="submit" value="перезвоните мне")
//end   popup callback


//begin popup cabinet
.popup#popup-cabinet
  .popup-close
    svg
      use(xlink:href="assets/img/sprite.svg#close")
  .popup__inn
    h3.popup__title Вход в личный кабинет
    form.popup__form
      input.popup__input(type="text" name="name" placeholder="Логин*" required)
      input.popup__input(type="password" name="password" placeholder="Пароль*" required)
      .popup__form-footer
        input.popup__submit.btn(type="submit" value="Войти")
        a(href="#").popup__forget забыли пароль?

//end   popup cabinet
