//begin top-block-mouse
svg.top-block__bottom-svg
  path(d='M 0,0 \
  L 280, 0\
  M280,0 C282,38 338,37 340,0\
  L 340, 0\
  1920,0\
  1920,30\
  0,30\
  0,0\
  ')

a(href="#second-section").mouse-top
  .mouse-wheel

//end top-block-mouse