extends ../_template

block variables
  - var title = 'Анкета'

block content
  include ../sections/header
  
  //begin content
  section.main.anketa
    .top-block
      .container-lg(style="background-image:url('assets/img/bg-anketa-top.jpg')")
        include ../elements/magnific
        include ../elements/top-block-mouse

    .middle-block
      .container
        p The Weinstein Company struggled to perform damage control on Friday amid allegations of rampant sexual harassment by its co-chairman Harvey Weinstein and turmoil among its ranks. One-third of the company’s all-male board resigned, while board members who remained hired an outside law firm to investigate the allegations and announced that Mr. Weinstein would take an indefinite leave of absence immediately.
        p Mr. Weinstein had said on Thursday that he would take a leave of absence, but it was unclear when he would leave, how long he would be gone, or what it meant for his relationship with the company he co-founded.
        p “As Harvey has said, it is important for him to get professional help for the problems he has acknowledged,” said a statement signed by four board members, Bob Weinstein, Tarak Ben Ammar, Lance Maerov and Richard Koenigsberg. “Next steps will depend on Harvey’s therapeutic progress, the outcome of the Board’s independent investigation, and Harvey’s own personal decisions.”
  //end   content

  //include ../elements/popup
  include ../sections/footer