extends ../_template

block variables
  - var title = 'Анкета'
  - var pageHeaderTitle = 'Заявка на персонал'

block content
  include ../sections/header
  
  //begin content
  section.main.anketa
    //begin top-section
    .top-block
      .container-lg(style="background-image:url('assets/img/bg-anketa-top.jpg')")
        include ../elements/breadcrumbs
        include ../elements/magnific
        include ../elements/top-block-mouse

        .container
          h2.top-block__title
            |Отправить заявку
            br
            |на персонал
    //end top-section

    //begin second-section
    section#second-section.anketa-second
      //begin decor
      .anketa-second__bg
        .anketa-second__bg-left
        .anketa-second__bg-right
          .anketa-second__bg-right-inn
      //end decor
      .container
        .anketa-second__left
          h2.title Уважаемый работодатель!
          p Если Вы хотите сформировать команду талантливых руководителей, найти лучших специалистов на Ваши вакансии или разработать эффективную стратегию развития и обучения сотрудников, то можете оставить заявку на нашем сайте. Удачно подобранный персонал высшего и среднего звена – это лучшие инвестиции в будущее процветание Вашей организации.
          p
            span Мы заинтересованы в прочных и долговременных отношениях с Заказчиком и несем личную ответственность за качество подбора персонала и репутацию компании. Гарантируем конфиденциальность.
        .anketa-second__right
          form.anketa-form
            input.anketa-form__input(type="text" name="name"    placeholder="Как к Вам обращаться?*" required)
            input.anketa-form__input(type="text" name="phone"   placeholder="Телефон или e-mail*" required)
            input.anketa-form__input(type="text" name="company" placeholder="Название организации")
            textarea.anketa-form__textarea(name="descr" placeholder="Опишите какой персонал Вам необходим")
            //begin agree checkbox
            .agree-checkbox
              input(type="checkbox" id="agree-anketa-page" class="agree" checked)
              label(for="agree-anketa-page")
                | Ставя отметку, я даю своё согласие на обработку моих персональных данных в соответствии с законом № 152-ФЗ "О персональных данных" от 27.07.2006 и принимаю условия
                a(href="/agree.html") Пользовательского соглашения
            //end   agree checkbox
            input.anketa-form__submit.btn(type="submit" value="отправить")

    //end   second-section
  //end   content

  //include ../elements/popup
  include ../sections/footer