extends ../_template

block variables
  - var title = 'Статья'
  - var pageHeaderTitle = 'Ольга Бикбаева: «Тайный покупатель» в премиум-сегменте и другие спецпроекты'

block content
  include ../sections/header
  
  //begin content
  section.main.article
    //begin top-section
    .top-block
      .container-lg(style="background-image:url('assets/img/bg-article-top.jpg')")
        include ../elements/breadcrumbs
        include ../elements/magnific
        include ../elements/top-block-mouse

        .container
          .top-block__date
            svg
              use(xlink:href="assets/img/sprite.svg#calendar")
            span 17.09.2017
          h2.top-block__title
            |Ольга Бикбаева:
            br
            |«тайный покупатель»
            br
            |в премиум-сегменте
          //begin social
          script(type='text/javascript').
            (function () {
              if (window.pluso)if (typeof window.pluso.start == "function") return;
              if (window.ifpluso == undefined) {
                window.ifpluso = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript';
                s.charset = 'UTF-8';
                s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
                var h = d[g]('body')[0];
                h.appendChild(s);
              }
            })();
          .pluso(data-background='transparent', data-options='big,square,line,horizontal,nocounter,theme=04', data-services='vkontakte,odnoklassniki,facebook,twitter,google,moimir')
          //end social
    //end top-section

    //begin second-section
    section#second-section.article-second
      .container
        h2.title От клиента к руководителю направления
        p Работая руководителем отдела рекрутинга в крупной фармацевтической сети, я обратилась в «ТОП Рекрутинг» как заказчик с непростой задачей найти успешного руководителя одного из направлений компании. За период нашего сотрудничества «ТОП Рекрутинг» показала высокие результаты, специалисты быстро включились в работу, постоянно освещали ситуацию по кандидатам на рынке, показывали самых интересных и успешных кандидатов в данном направлении.
        p
          |Когда я получила предложение присоединиться к команде «ТОП Рекрутинг», с удовольствием его приняла и уже 5 лет успешно работаю в нашей компании. Первые четыре года управляла направлением подбора персонала среднего звена, с 2016 года руковожу специальными проектам и: «Тайный покупатель»,
          =" "
          a(href="#") маркетинговые исследования
          =" "
          |рынка труда, исследования конкурентного рынка и проекты по оценке персонала.
        br

        h2.title Развитие  и вдохновение
        p
          |Работа здесь открывает для меня
          =" "
          a(href="#") много возможностей
          =" "
          |профессионального и личностного развития. За последние 4 года нам удалось запустить и внедрить оценку персонала и качества предоставляемого сервиса методом «Тайный покупатель». «ТОП Рекрутинг» - единственная на рынке Санкт-Петербурга компания, предоставляющая такую услугу в премиум сегменте строительного рынка на постоянной основе и с высоким уровнем качества.

        p Что меня вдохновляет? Разнообразие проектов, которые требуют более чем индивидуального подхода и поиска решений. Работа в сильной команде профессионалов. Открытый диалог с руководством компании и способность напрямую влиять на результат работы всей компании.
        br

        h2.title Основные преимущества «ТОП Рекрутинг»
        ul.article-list
          li.article-list__item Сильная команда профессионалов, обладающая знаниями современных HR технологий и применяющая их в своей практике
          li.article-list__item Сформированная и постоянно пополняемая база резюме топ-руководителей и успешных специалистов для каждого сегмента рынка
          li.article-list__item Индивидуальный подход к каждому проекту, поиск и реализация именного того решения, которое полностью удовлетворит потребности клиента
          li.article-list__item Высокий уровень сервиса предоставляемых услуг и гарантия их исключительного качества
        p Что меня вдохновляет? Разнообразие проектов, которые требуют более чем индивидуального подхода и поиска решений. Работа в сильной команде профессионалов. Открытый диалог с руководством компании и способность напрямую влиять на результат работы всей компании.
        h3.subtitle Новые возможности специальных проектов
        p Оценка работы персонала и сервиса методом «Тайный покупатель» в премиум-сегменте строительного, автомобильного, ресторанного и гостиничного бизнеса.
        p Услуга «Тайный покупатель» (англ. Mystery Shopper) – это современный и эффективный метод проверки качества работы специалистов в области продаж или обслуживания. Более четырех лет мы успешно проверяем данным методом строительные и девелоперские компании, имеем сформированную базу «тайных покупателей» в соответствии с образом клиента данного рынка.

        .article__grey-section
          p
            |Услуга «Тайный покупатель» (англ. Mystery Shopper) – это современный и эффективный метод
            br
            |проверки качества работы специалистов в области продаж или обслуживания.


        h2.title
          |Исследование рынка труда с точным обзором
          br
          |заработных плат
        p Мы обеспечиваем наших клиентов самой актуальной и надежной информацией о рынке труда в сжатые сроки с учетом специфики бизнеса компании и профиля позиций. Регулярный сбор и анализ информации об уровне оплаты труда, системах материального и нематериального стимулирования в компаниях близкого отраслевого профиля предоставляет возможность следить за изменениями рынка труда и получать информацию для принятия своевременных конкурентных решений и разработки эффективных стратегий развития бизнеса.

        .article-table__wrap
          table.article-table
            thead
              tr
                th Заголовок таблицы
                th Заголовок таблицы
                th Заголовок таблицы
            tbody
              tr
                td Строка таблицы
                td Строка таблицы
                td Строка таблицы
              tr
                td Еще одна строка таблицы
                td Еще одна строка таблицы
                td Еще одна строка таблицы

        p Предоставление уникальной и конфиденциальной информации, важной для принятия управленческих решений и организационных изменений. Успешный опыт подтверждает сотрудничество с крупными российскими компаниями – лидерами в своих отраслях.


        .article-thanks
          .article-thanks__left
            .article-thanks__ava
              img(src="assets/img/article-ava.jpg" alt="ava")

          .article-thanks__right
            p Благодарим за коментарии
            h4.article-thanks__name Ольгу Бикбаеву, руководителя специальных проектов
            a(href="#") подробнее


        footer.article-footer
          a(href="#").btn вернуться к новостям
          a(href="#").btn следующая новость
    //end   second-section
  //end   content

  include ../elements/popup
  include ../sections/footer