extends ../_template

mixin aspirant-vacancies-list__item(city, date, position, text)
  //begin aspirant-vacancies__item
  .aspirant-vacancies-list__item
    header.aspirant-vacancies-list__header
      .aspirant-vacancies-list__city
        span= city
      .aspirant-vacancies-list__date
        svg
          use(xlink:href="assets/img/sprite.svg#calendar")
        span= date
    h3.aspirant-vacancies-list__position= position
    p= text
    a(href="#").aspirant-vacancies-list__link подробнее
  //end   aspirant-vacancies__item

block variables
  - var title = 'Соискателю'
  - var pageHeaderTitle = 'Соискателю'

block content
  include ../sections/header
  
  //begin content
  section.main.aspirant
    //begin top-section
    .top-block
      .container-lg(style="background-image:url('assets/img/bg-aspirant-top.jpg')")
        include ../elements/breadcrumbs
        include ../elements/magnific
        include ../elements/top-block-mouse

        .container
          h2.top-block__title
            | Кадровое агентство
            br
            | в СПб для соискателей
    //end top-section

    //begin second-section
    section#second-section.aspirant-second
      .container
        p В условиях современной экономической ситуации сложно представить, как будет развиваться Ваша карьера через год или даже месяц. Все чаще желание специалиста реализовать профессиональный потенциал не совпадает с интересами компании. Вместо планомерного роста, повышения квалификации и уровня доходов работодатель всеми силами удерживает Вас на прежнем месте.
        p
          span В такой ситуации поиск работы для соискателей в кадровом агентстве «ТОП Рекрутинг» – ключ к управлению собственной карьерой.
    //end   second-section

    //begin aspirant-carrier
    section.aspirant-carrier
      .container
        //begin decor
        .aspirant-carrier__decor
          .aspirant-carrier__decor-inn
        //end decor
        .aspirant-carrier__inn
          h2.title Развитие карьеры руководителя
          p Компания ТОП Рекрутинг предлагает эксклюзивную услугу «Трудоустройство Топ менеджера».
          p Многолетний опыт решения разнообразных управленческих кейсов совместно с нашими клиентами и кандидатами, а также глубокое понимание рынка труда позволяет нам быть эффективными проводниками в развитии Вашей карьеры и оказывать содействие в достижении Ваших профессиональных целей.
          a(href="#").aspirant-carrier__link подробнее
    //end   aspirant-carrier


    //begin aspirant-vacancies
    section.aspirant-vacancies
      .container
        h2.title Наши вакансии
        section.aspirant-vacancies-list
          a(href="#").aspirant-vacancies__more еще
          +aspirant-vacancies-list__item(
          'Санкт-Петербург',
          '17.09.2017',
          'Директор по продажам',
          'Наш Заказчик – инвестиционно-строительная компания приглашает опытного Директора по продажам в сфере жилищного девелопмента.'
          )
          +aspirant-vacancies-list__item(
          'Москва',
          '17.09.2017',
          'Заместитель главного бухгалтера на участок заработная плата',
          'Крупный холдинг, специализирующийся на предоставлении услуг аутсорсинга и аутстаффинга, в связи с расширением, приглашает к себе в команду заместителя главного бухгалтера на участок заработная плата.'
          )
          +aspirant-vacancies-list__item(
          'Новый Уренгой',
          '17.09.2017',
          'Главный эксперт в области охраны труда, пожарной промышленной и экологической безопасности',
          'Наш заказчик и надежный партнер - крупнейший федеральный строительный холдинг (основные заказчики - ведущие игроки нефтегазовой отрасли)'
          )
    //end   aspirant-vacancies


    //begin aspirant-search
    section.aspirant-search
      .container
        .aspirant-search__left
          img(src="assets/img/aspirant-search.jpg" alt="img")
        .aspirant-search__right
          h3.title
            |Поиск работы
            br
            |для соискателей
          p Рекрутинговые агентства для соискателей – это возможность найти достойную в профессиональном и финансовом отношении работу на конфиденциальной основе. Наши специалисты в области рекрутинга осуществляют подбор сотрудников среднего и высшего звена в сферах ритейла, девелопмента, строительства, логистики, FMCG и др
    //end   aspirant-search


    //begin aspirant-blue
    section.aspirant-blue
      .container
        .aspirant-blue__left
          h3.aspirant-blue__title Обращаясь в кадровое агентство Санкт-Петербурга для соискателей, Вы можете:
          ul.custom-ul
            li Оставить резюме и заполнить профайл в нашей Закрытой базе кандидатов
            li Предложить свою кандидатуру на рассмотрение по интересующей Вас вакансии
          footer.aspirant-blue__footer
            a(href="#").btn оставить резюме
            a(href="#").btn предложить кандидатуру
    //end   aspirant-blue


    //begin aspirant-bottom
    section.aspirant-bottom
      .container
        //begin aspirant-bottom__decor
        .aspirant-bottom__decor
          .aspirant-bottom__decor-inn
        //end aspirant-bottom__decor
        p В своей работе мы ориентируемся на долговременное сотрудничество. Поэтому Ваше резюме будет постоянно находиться в нашей Закрытой базе на безвозмездной основе. При появлении вакансии, которая соответствует Вашему опыту, компетенциям и иным требованиям компании-Заказчика, мы информируем Вас и приглашаем на собеседование.
        p Успех и возможность трудоустройства складывается из множества факторов. Наша главная задача – подобрать для Вас должность, которая максимально соответствует Вашим качествам и сможет удовлетворить Ваши потребности в развитии и профессиональном росте.
        p Мы осуществляем комплексную поддержку соискателей. Она состоит из использования актуальной и полезной информации о реалиях рынка труда, среднем уровне заработных плат, действующих системах мотивации, а также консультирования относительно особенностей ведения переговоров с конкретными работодателями.
        p С нами Вы можете создать собственную стратегию развития карьеры. Определение Ваших целей и мотивации позволяет сделать резюме качественным и соответствовать ожиданиям работодателей. В свою очередь, карьерный консультант занимается Вашим продвижением и поиском подходящих вакансий.
    //end   aspirant-bottom


    //begin aspirant-callback
    section.aspirant-callback
      .container
        .aspirant-callback__left
          p
            span Кадровое агентство для соискателей с гарантией представит Вам лучшие предложения от наших клиентов – крупных компаний Москвы и СПб.
          p Для получения более подробной информации Вы можете позвонить по телефону либо заказать обратный звонок на сайте.
        .aspirant-callback__right
          button.aspirant-callback__btn.btn.popup-open(data-open="callback") откликнуться
    //end   aspirant-callback
  //end   content

  include ../elements/popup
  include ../sections/footer