extends ../_template

block variables
  - var title = 'Директор по строительству фармацевтического холдинга'
  - var pageHeaderTitle = 'Директор по строительству фармацевтического холдинга'

block content
  include ../sections/header
  
  //begin content
  section.main.case
    //begin top-section
    .top-block
      .container-lg(style="background-image:url('assets/img/bg-case-top.jpg')")
        include ../elements/breadcrumbs
        include ../elements/magnific
        include ../elements/top-block-mouse

        .container
          h2.top-block__title
            | Директор по строительству
            br
            | фармацевтического холдинга
    //end top-section

    //begin second-section
    section#second-section.case-second
      .container
        p Директор по персоналу Холдинга обратилась к нам после нескольких месяцев безуспешного поиска.
        p После подробного обсуждения заявки с HR и ЛПР (лицо принимающее решение) мы приступили к поиску и подбору достойных кандидатов. Спустя неделю, предоставили на рассмотрение два резюме отобранных нами специалистов, полностью подходящих под описание Заказчика. ЛПР отказался с ними встречаться, ссылаясь на биографические недочёты в резюме. Стало понятно, что нужно работать не только с рынком кандидатов, но и с Заказчиком, а именно с непосредственными руководителями будущего ТОПа.
        p В данном случае, большим помощником в достижении общего результата выступила Директор по персоналу, которая и организовала нашу встречу с ТОП командой Холдинга для сближения позиций. На общей встрече выяснилось, что команда руководителей бессменно трудится много лет в Компании, придерживается традиционных взглядов в управлении и никогда не принимала людей на руководящие позиции с рынка. Обсудив наших кандидатов, удалось снять все опасения и настоять на встрече с наиболее подходящим, на наш взгляд, претендентом. Кандидат получил job offer спустя день после встречи с Заказчиком.


        .article-thanks
          .article-thanks__left
            .article-thanks__ava
              img(src="assets/img/article-ava.jpg" alt="ava")

          .article-thanks__right
            p Благодарим за коментарии
            h4.article-thanks__name Ольгу Бикбаеву, руководителя специальных проектов
            a(href="#") подробнее
    //end   second-section
  //end   content

  //include ../elements/popup
  include ../sections/footer