extends ../_template

block variables
  - var title = 'О компании'
  - var pageHeaderTitle = 'О компании'

block content
  include ../sections/header
  
  //begin content
  section.main.company
    //begin top-section
    .top-block
      .container-lg(style="background-image:url('assets/img/bg-company-top.jpg')")
        include ../elements/breadcrumbs
        include ../elements/magnific
        include ../elements/top-block-mouse

        .container
          h2.top-block__title
            |Кадровое агенство
            br
            |Санкт-Петербурга
    //end top-section

    //begin second-section
    section#second-section.company-second.company-director
      .container
        .company-director__left
          img(src="assets/img/director.jpg" alt="director")
          .company-director__table
            h3.company-director__name Егорова Инна Игоревна
            h4.company-director__position Генеральный директор
        .company-director__right
          h2.title Обращение Генерального директора
          p ТОП Рекрутинг» объединяет в своем составе более 80 лучших специалистов по подбору персонала. Мы привлекаем профессиональных экспертов в сфере девелопмента, FMCG, инжиниринга, финансов, производства и других областей. Каждая команда формируется под конкретные задачи Заказчика.
          p В данном разделе сайта представлены ведущие сотрудники кадрового агентства: руководители индивидуальных проектов, ресечеры и консультанты. К Вашим услугам – наши знания и опыт в области рекрутинга, оптимизации бизнес-процесса, обучения и развития персонала.
    //end   second-section

    //begin company-services
    section.company-services
      //begin decor
      .company-services__bg
        .company-services__bg-inn
      //end decor
      header.company-services__header
        .container
          h2.title Кадровые услуги от компании «Топ Рекрутинг»
          p
            |Подбор менеджеров высшего звена – это стратегическая задача успешного бизнеса, залог стабильности и прочной финансовой позиции Вашей компании.
            br
            |Агентство «ТОП Рекрутинг» поможет Вам в поиске профессиональных кадров, специалистов узкого профиля и создании эффективной управленческой команды.
      .company-services__links
        .container-lg
          a(href="#").company-services__link(style="background-image:url('assets/img/company-service-01.jpg')")
            h3.company-services__links-title Наша команда
          a(href="#").company-services__link(style="background-image:url('assets/img/company-service-02.jpg')")
            h3.company-services__links-title Наши кейсы
          a(href="#").company-services__link(style="background-image:url('assets/img/company-service-03.jpg')")
            h3.company-services__links-title Наши клиенты

      .company-services__columns
        .container
          p Отличительная черта рекрутингового агентства «ТОП Рекрутинг» - вовлеченность в идеи наших Клиентов и ответственность за результат по подбору персонала и закрытию вакансий. В каждом проекте мы руководствуемся принципом Profistaff, что подразумевает максимальную открытость и прозрачность при соблюдении абсолютной конфиденциальности. Мы поддерживаем постоянные контакты с Заказчиком: Вы будете осведомлены обо всех стадиях поиска кандидатов.
          p В своей работе кадровое агентство СПб применяет технологию Executive search. С ее помощью отбираются лучшие менеджеры и самые успешные управленцы высшего звена даже среди тех, кто в настоящее время не ищет работу. Такой способ позволяет вести углубленный поиск и максимально удовлетворить запросы Клиента.
          p Вас интересует конкретный талантливый специалист? Для «ТОП Рекрутинг» нет ничего невозможного. Использование технологии Head hunting гарантирует быстрый результат.
          p Еще одна особенность оказываемых нами HR услуг - комплексный подход. Кадровое агентство Питера «ТОП Рекрутинг» способно сформировать для Вас управленческую команду. Ведь мы подбираем работу не только для ТОПовых позиций, но и редких специальностей. Учитываем ментальность и корпоративный дух.
    //end company-services

    //begin company-footer
    footer.company-footer
      .container
        .company-footer__left
          p
            span Кадровое и рекрутинговое агентство Санкт-Петербурга работает не только в СПб и Москве, но и в других регионах России, а также за рубежом.
          p Профессиональный кругозор нашей команды позволит оперативно и результативно подобрать подходящую кандидатуру, которая будет соответствовать всем Вашим запросам.
        .company-footer__right
          button.btn.popup-open(data-open="service") заказать услугу

    //end company-footer
  //end   content

  include ../elements/popup
  include ../sections/footer