extends ../_template

block variables
  - var title = 'Lets Go'

block content
  include ../sections/header
  
  //begin content
  section.main
    .main-test
      .container-lg
        .black-box__wrap
          img(src="assets/img/logo-magnific-g.svg" alt="logo").img-grey
          .black-box
            img(src="assets/img/logo-magnific-w.svg" alt="logo").img-white
  //end   content

  //include ../elements/popup
  include ../sections/footer