extends ../_template

mixin news-list__item(filter, image, lable, title, text)
  //begin news-list__item
  .news-list__item(data-filter= filter)
    .news-list__pic(style="background-image:url('assets/img/news/news-" + image + ".jpg');")
    header.news-list__header
      .news-list__lable
        span= lable
      .news-list__date
        svg
          use(xlink:href="assets/img/sprite.svg#calendar")
        span 17.09.2017
    h3.news-list__title= title
    p= text
    a(href="#").news-list__link читать полностью
  //end news-list__item

block variables
  - var title = 'Наши клиенты'
  - var pageHeaderTitle = 'Наши клиенты'

block content
  include ../sections/header
  
  //begin content
  section.main.news
    //begin top-section
    .top-block
      .container-lg
        .news-top__left
          include ../elements/magnific
        .news-top__right

        .container
          .news-top__container-inn
            include ../elements/breadcrumbs
            h2.top-block__title Наши клиенты
            .top-news
              .top-news__lable
                span интервью
              .top-news__date
                svg
                  use(xlink:href="assets/img/sprite.svg#calendar")
                span 17.09.2017
              h3.top-news__title
                | Ольга Бикбаева: «Тайный покупатель»
                br
                | в премиум-сегменте и другие спецпроекты
              p "Работа здесь открывает для меня много возможностей профессионального и личностного развития",- говорит руководитель специальных проектов "ТОП Рекрутинг" Ольга Бикбаева.
              a(href="#").top-news__link читать полностью



    //end top-section

    //begin news-second
    section.news-second
      .container
        //begin news-filter
        ul.news-filter#news-filter
          li.news-filter__item
            button(data-filter="01").news-filter__btn.active новость
          li.news-filter__item
            button(data-filter="02").news-filter__btn О нас в СМИ
          li.news-filter__item
            button(data-filter="03").news-filter__btn Интервью
          li.news-filter__item
            button(data-filter="04").news-filter__btn Новость
          li.news-filter__item
            button(data-filter="05").news-filter__btn Новость
          li.news-filter__item
            button(data-filter="06").news-filter__btn Новость
          li.news-filter__item
            button(data-filter="all").news-filter__btn Все новости
        //end news-filter

        //begin news-list
        ul.news-list
          +news-list__item(
          '01',
          '01',
          'новость',
          'Деловой Петербург: Виртуальный стаж. Министерство труда подготовило дорогой сюрприз для работодателей',
          'Министерство труда разрабатывает проект перехода на электронные трудовые книжки, который может начаться уже в январе 2018 года. Планируется, что отказ от бумажных носителей в будущем снизит издержки работодателей, однако при ближайшем рассмотрении может оказаться, что расходы работодателей, наоборот, вырастут. Трудовая в книжка в нынешнем виде это безусловный атавизм, говорит Инна Егорова, генеральный директор и совладелец "ТОП Рекрутинг".'
          )
          +news-list__item(
          '02',
          '02',
          'о нас в сми',
          'Закрытие вакансии Директора по строительству завода для крупного Фармацевтического холдинга.',
          'Директор по персоналу Холдинга обратилась к нам после нескольких месяцев безуспешного поиска. После подробного обсуждения заявки с HR и ЛПР (лицо принимающее решение) мы приступили к поиску и подбору достойных кандидатов. Спустя неделю, предоставили на рассмотрение два резюме отобранных нами специалистов, полностью подходящих под описание Заказчика.'
          )
          +news-list__item(
          '03',
          '03',
          'интервью',
          'Александра Смельцова: «Удивительная история развития»',
          'Я руковожу проектами по подбору топ-менеджеров в компании «ТОП Рекрутинг» и считаю свою историю развития в «ТОП Рекрутинге» по-настоящему удивительной.'
          )
          +news-list__item(
          '04',
          '01',
          'новость',
          'Деловой Петербург: Виртуальный стаж. Министерство труда подготовило дорогой сюрприз для работодателей',
          'Министерство труда разрабатывает проект перехода на электронные трудовые книжки, который может начаться уже в январе 2018 года. Планируется, что отказ от бумажных носителей в будущем снизит издержки работодателей, однако при ближайшем рассмотрении может оказаться, что расходы работодателей, наоборот, вырастут. Трудовая в книжка в нынешнем виде это безусловный атавизм, говорит Инна Егорова, генеральный директор и совладелец "ТОП Рекрутинг".'
          )
          +news-list__item(
          '05',
          '02',
          'о нас в сми',
          'Закрытие вакансии Директора по строительству завода для крупного Фармацевтического холдинга.',
          'Директор по персоналу Холдинга обратилась к нам после нескольких месяцев безуспешного поиска. После подробного обсуждения заявки с HR и ЛПР (лицо принимающее решение) мы приступили к поиску и подбору достойных кандидатов. Спустя неделю, предоставили на рассмотрение два резюме отобранных нами специалистов, полностью подходящих под описание Заказчика.'
          )
          +news-list__item(
          '06',
          '03',
          'интервью',
          'Александра Смельцова: «Удивительная история развития»',
          'Я руковожу проектами по подбору топ-менеджеров в компании «ТОП Рекрутинг» и считаю свою историю развития в «ТОП Рекрутинге» по-настоящему удивительной.'
          )
          +news-list__item(
          '01',
          '01',
          'новость',
          'Деловой Петербург: Виртуальный стаж. Министерство труда подготовило дорогой сюрприз для работодателей',
          'Министерство труда разрабатывает проект перехода на электронные трудовые книжки, который может начаться уже в январе 2018 года. Планируется, что отказ от бумажных носителей в будущем снизит издержки работодателей, однако при ближайшем рассмотрении может оказаться, что расходы работодателей, наоборот, вырастут. Трудовая в книжка в нынешнем виде это безусловный атавизм, говорит Инна Егорова, генеральный директор и совладелец "ТОП Рекрутинг".'
          )
          +news-list__item(
          '02',
          '02',
          'о нас в сми',
          'Закрытие вакансии Директора по строительству завода для крупного Фармацевтического холдинга.',
          'Директор по персоналу Холдинга обратилась к нам после нескольких месяцев безуспешного поиска. После подробного обсуждения заявки с HR и ЛПР (лицо принимающее решение) мы приступили к поиску и подбору достойных кандидатов. Спустя неделю, предоставили на рассмотрение два резюме отобранных нами специалистов, полностью подходящих под описание Заказчика.'
          )
          +news-list__item(
          '03',
          '03',
          'интервью',
          'Александра Смельцова: «Удивительная история развития»',
          'Я руковожу проектами по подбору топ-менеджеров в компании «ТОП Рекрутинг» и считаю свою историю развития в «ТОП Рекрутинге» по-настоящему удивительной.'
          )
          +news-list__item(
          '04',
          '01',
          'новость',
          'Деловой Петербург: Виртуальный стаж. Министерство труда подготовило дорогой сюрприз для работодателей',
          'Министерство труда разрабатывает проект перехода на электронные трудовые книжки, который может начаться уже в январе 2018 года. Планируется, что отказ от бумажных носителей в будущем снизит издержки работодателей, однако при ближайшем рассмотрении может оказаться, что расходы работодателей, наоборот, вырастут. Трудовая в книжка в нынешнем виде это безусловный атавизм, говорит Инна Егорова, генеральный директор и совладелец "ТОП Рекрутинг".'
          )
          +news-list__item(
          '05',
          '02',
          'о нас в сми',
          'Закрытие вакансии Директора по строительству завода для крупного Фармацевтического холдинга.',
          'Директор по персоналу Холдинга обратилась к нам после нескольких месяцев безуспешного поиска. После подробного обсуждения заявки с HR и ЛПР (лицо принимающее решение) мы приступили к поиску и подбору достойных кандидатов. Спустя неделю, предоставили на рассмотрение два резюме отобранных нами специалистов, полностью подходящих под описание Заказчика.'
          )
          +news-list__item(
          '06',
          '03',
          'интервью',
          'Александра Смельцова: «Удивительная история развития»',
          'Я руковожу проектами по подбору топ-менеджеров в компании «ТОП Рекрутинг» и считаю свою историю развития в «ТОП Рекрутинге» по-настоящему удивительной.'
          )
          +news-list__item(
          '01',
          '01',
          'новость',
          'Деловой Петербург: Виртуальный стаж. Министерство труда подготовило дорогой сюрприз для работодателей',
          'Министерство труда разрабатывает проект перехода на электронные трудовые книжки, который может начаться уже в январе 2018 года. Планируется, что отказ от бумажных носителей в будущем снизит издержки работодателей, однако при ближайшем рассмотрении может оказаться, что расходы работодателей, наоборот, вырастут. Трудовая в книжка в нынешнем виде это безусловный атавизм, говорит Инна Егорова, генеральный директор и совладелец "ТОП Рекрутинг".'
          )
          +news-list__item(
          '02',
          '02',
          'о нас в сми',
          'Закрытие вакансии Директора по строительству завода для крупного Фармацевтического холдинга.',
          'Директор по персоналу Холдинга обратилась к нам после нескольких месяцев безуспешного поиска. После подробного обсуждения заявки с HR и ЛПР (лицо принимающее решение) мы приступили к поиску и подбору достойных кандидатов. Спустя неделю, предоставили на рассмотрение два резюме отобранных нами специалистов, полностью подходящих под описание Заказчика.'
          )
          +news-list__item(
          '03',
          '03',
          'интервью',
          'Александра Смельцова: «Удивительная история развития»',
          'Я руковожу проектами по подбору топ-менеджеров в компании «ТОП Рекрутинг» и считаю свою историю развития в «ТОП Рекрутинге» по-настоящему удивительной.'
          )
          +news-list__item(
          '04',
          '01',
          'новость',
          'Деловой Петербург: Виртуальный стаж. Министерство труда подготовило дорогой сюрприз для работодателей',
          'Министерство труда разрабатывает проект перехода на электронные трудовые книжки, который может начаться уже в январе 2018 года. Планируется, что отказ от бумажных носителей в будущем снизит издержки работодателей, однако при ближайшем рассмотрении может оказаться, что расходы работодателей, наоборот, вырастут. Трудовая в книжка в нынешнем виде это безусловный атавизм, говорит Инна Егорова, генеральный директор и совладелец "ТОП Рекрутинг".'
          )
          +news-list__item(
          '05',
          '02',
          'о нас в сми',
          'Закрытие вакансии Директора по строительству завода для крупного Фармацевтического холдинга.',
          'Директор по персоналу Холдинга обратилась к нам после нескольких месяцев безуспешного поиска. После подробного обсуждения заявки с HR и ЛПР (лицо принимающее решение) мы приступили к поиску и подбору достойных кандидатов. Спустя неделю, предоставили на рассмотрение два резюме отобранных нами специалистов, полностью подходящих под описание Заказчика.'
          )
          +news-list__item(
          '06',
          '03',
          'интервью',
          'Александра Смельцова: «Удивительная история развития»',
          'Я руковожу проектами по подбору топ-менеджеров в компании «ТОП Рекрутинг» и считаю свою историю развития в «ТОП Рекрутинге» по-настоящему удивительной.'
          )
          +news-list__item(
          '01',
          '01',
          'новость',
          'Деловой Петербург: Виртуальный стаж. Министерство труда подготовило дорогой сюрприз для работодателей',
          'Министерство труда разрабатывает проект перехода на электронные трудовые книжки, который может начаться уже в январе 2018 года. Планируется, что отказ от бумажных носителей в будущем снизит издержки работодателей, однако при ближайшем рассмотрении может оказаться, что расходы работодателей, наоборот, вырастут. Трудовая в книжка в нынешнем виде это безусловный атавизм, говорит Инна Егорова, генеральный директор и совладелец "ТОП Рекрутинг".'
          )
          +news-list__item(
          '02',
          '02',
          'о нас в сми',
          'Закрытие вакансии Директора по строительству завода для крупного Фармацевтического холдинга.',
          'Директор по персоналу Холдинга обратилась к нам после нескольких месяцев безуспешного поиска. После подробного обсуждения заявки с HR и ЛПР (лицо принимающее решение) мы приступили к поиску и подбору достойных кандидатов. Спустя неделю, предоставили на рассмотрение два резюме отобранных нами специалистов, полностью подходящих под описание Заказчика.'
          )
          +news-list__item(
          '03',
          '03',
          'интервью',
          'Александра Смельцова: «Удивительная история развития»',
          'Я руковожу проектами по подбору топ-менеджеров в компании «ТОП Рекрутинг» и считаю свою историю развития в «ТОП Рекрутинге» по-настоящему удивительной.'
          )
          +news-list__item(
          '04',
          '01',
          'новость',
          'Деловой Петербург: Виртуальный стаж. Министерство труда подготовило дорогой сюрприз для работодателей',
          'Министерство труда разрабатывает проект перехода на электронные трудовые книжки, который может начаться уже в январе 2018 года. Планируется, что отказ от бумажных носителей в будущем снизит издержки работодателей, однако при ближайшем рассмотрении может оказаться, что расходы работодателей, наоборот, вырастут. Трудовая в книжка в нынешнем виде это безусловный атавизм, говорит Инна Егорова, генеральный директор и совладелец "ТОП Рекрутинг".'
          )
          +news-list__item(
          '05',
          '02',
          'о нас в сми',
          'Закрытие вакансии Директора по строительству завода для крупного Фармацевтического холдинга.',
          'Директор по персоналу Холдинга обратилась к нам после нескольких месяцев безуспешного поиска. После подробного обсуждения заявки с HR и ЛПР (лицо принимающее решение) мы приступили к поиску и подбору достойных кандидатов. Спустя неделю, предоставили на рассмотрение два резюме отобранных нами специалистов, полностью подходящих под описание Заказчика.'
          )
          +news-list__item(
          '06',
          '03',
          'интервью',
          'Александра Смельцова: «Удивительная история развития»',
          'Я руковожу проектами по подбору топ-менеджеров в компании «ТОП Рекрутинг» и считаю свою историю развития в «ТОП Рекрутинге» по-настоящему удивительной.'
          )
          +news-list__item(
          '01',
          '01',
          'новость',
          'Деловой Петербург: Виртуальный стаж. Министерство труда подготовило дорогой сюрприз для работодателей',
          'Министерство труда разрабатывает проект перехода на электронные трудовые книжки, который может начаться уже в январе 2018 года. Планируется, что отказ от бумажных носителей в будущем снизит издержки работодателей, однако при ближайшем рассмотрении может оказаться, что расходы работодателей, наоборот, вырастут. Трудовая в книжка в нынешнем виде это безусловный атавизм, говорит Инна Егорова, генеральный директор и совладелец "ТОП Рекрутинг".'
          )
          +news-list__item(
          '02',
          '02',
          'о нас в сми',
          'Закрытие вакансии Директора по строительству завода для крупного Фармацевтического холдинга.',
          'Директор по персоналу Холдинга обратилась к нам после нескольких месяцев безуспешного поиска. После подробного обсуждения заявки с HR и ЛПР (лицо принимающее решение) мы приступили к поиску и подбору достойных кандидатов. Спустя неделю, предоставили на рассмотрение два резюме отобранных нами специалистов, полностью подходящих под описание Заказчика.'
          )
          +news-list__item(
          '03',
          '03',
          'интервью',
          'Александра Смельцова: «Удивительная история развития»',
          'Я руковожу проектами по подбору топ-менеджеров в компании «ТОП Рекрутинг» и считаю свою историю развития в «ТОП Рекрутинге» по-настоящему удивительной.'
          )
          +news-list__item(
          '04',
          '01',
          'новость',
          'Деловой Петербург: Виртуальный стаж. Министерство труда подготовило дорогой сюрприз для работодателей',
          'Министерство труда разрабатывает проект перехода на электронные трудовые книжки, который может начаться уже в январе 2018 года. Планируется, что отказ от бумажных носителей в будущем снизит издержки работодателей, однако при ближайшем рассмотрении может оказаться, что расходы работодателей, наоборот, вырастут. Трудовая в книжка в нынешнем виде это безусловный атавизм, говорит Инна Егорова, генеральный директор и совладелец "ТОП Рекрутинг".'
          )
          +news-list__item(
          '05',
          '02',
          'о нас в сми',
          'Закрытие вакансии Директора по строительству завода для крупного Фармацевтического холдинга.',
          'Директор по персоналу Холдинга обратилась к нам после нескольких месяцев безуспешного поиска. После подробного обсуждения заявки с HR и ЛПР (лицо принимающее решение) мы приступили к поиску и подбору достойных кандидатов. Спустя неделю, предоставили на рассмотрение два резюме отобранных нами специалистов, полностью подходящих под описание Заказчика.'
          )
          +news-list__item(
          '06',
          '03',
          'интервью',
          'Александра Смельцова: «Удивительная история развития»',
          'Я руковожу проектами по подбору топ-менеджеров в компании «ТОП Рекрутинг» и считаю свою историю развития в «ТОП Рекрутинге» по-настоящему удивительной.'
          )
          +news-list__item(
          '01',
          '01',
          'новость',
          'Деловой Петербург: Виртуальный стаж. Министерство труда подготовило дорогой сюрприз для работодателей',
          'Министерство труда разрабатывает проект перехода на электронные трудовые книжки, который может начаться уже в январе 2018 года. Планируется, что отказ от бумажных носителей в будущем снизит издержки работодателей, однако при ближайшем рассмотрении может оказаться, что расходы работодателей, наоборот, вырастут. Трудовая в книжка в нынешнем виде это безусловный атавизм, говорит Инна Егорова, генеральный директор и совладелец "ТОП Рекрутинг".'
          )
          +news-list__item(
          '02',
          '02',
          'о нас в сми',
          'Закрытие вакансии Директора по строительству завода для крупного Фармацевтического холдинга.',
          'Директор по персоналу Холдинга обратилась к нам после нескольких месяцев безуспешного поиска. После подробного обсуждения заявки с HR и ЛПР (лицо принимающее решение) мы приступили к поиску и подбору достойных кандидатов. Спустя неделю, предоставили на рассмотрение два резюме отобранных нами специалистов, полностью подходящих под описание Заказчика.'
          )
          +news-list__item(
          '03',
          '03',
          'интервью',
          'Александра Смельцова: «Удивительная история развития»',
          'Я руковожу проектами по подбору топ-менеджеров в компании «ТОП Рекрутинг» и считаю свою историю развития в «ТОП Рекрутинге» по-настоящему удивительной.'
          )
        //end news-list
    //end news-second
  //end   content

  include ../elements/popup
  include ../sections/footer