extends ../_template

block variables
  - var title = 'Резюме'
  - var pageHeaderTitle = 'Отправить резюме'

block content
  include ../sections/header
  
  //begin content
  section.main.resume
    //begin top-section
    .top-block
      .container-lg(style="background-image:url('assets/img/bg-resume-top.jpg')")
        include ../elements/breadcrumbs
        include ../elements/magnific
        include ../elements/top-block-mouse

        .container
          h2.top-block__title
            |Отправить резюме
    //end top-section

    //begin second-section
    section#second-section.resume-second
      //begin decor
      .resume-second__bg
        .resume-second__bg-left
        .resume-second__bg-right
          .resume-second__bg-right-inn
      //end decor
      .container
        .resume-second__left
          h2.title Уважаемый Топ-менеджер!
          p Размышляя о собственной карьере в российском бизнесе, сложно досконально просчитать, как и к чему может привести Ваш следующий шаг. Ведь реалии развития отечественных компаний таковы, что планирование ведется лишь на ближайшие 2-3 года.
          p Отсутствие долгосрочных перспектив и комплексных программ продвижения персонала высшего звена наталкивают на очевидное решение: о своей карьере Топ-менеджер должен позаботиться сам. Сегодня управление собственной карьерой – это не только поиск лучшего места работы, это возможность держать ситуацию под контролем и двигаться вперед.
          h3.resume-list__title Если вы:
          ul.resume-list
            li.resume-list__item Занимаете руководящую должность
            li.resume-list__item Готовы к следующей карьерной ступени в профессиональном и финансовом отношении
            li.resume-list__item Находитесь в поисках мотивации и вдохновения от работы
            li.resume-list__item Хотите управлять своим будущим
          p В таком случае Вы можете разместить свой профайл в нашей Закрытой базе руководителей. Для этого необходимо заполнить приведенную на сайте форму и прикрепить файл со своим резюме.
          p
            span Вам гарантированы интересные предложения от наших клиентов – ведущих компаний Москвы и Санкт-Петербурга (на конфиденциальной основе).

        .resume-second__right
          form.resume-form
            input.resume-form__input(type="text" name="name"    placeholder="Как к Вам обращаться?*" required)
            input.resume-form__input(type="text" name="phone"   placeholder="Телефон или e-mail*" required)
            textarea.resume-form__textarea(name="descr" placeholder="Комментарий")

            //begin clip
            .resume-form__add
              svg
                use(xlink:href="assets/img/sprite.svg#clip")
              a(href="#") Прикрепить резюме
            //end clip

            //begin agree checkbox
            .agree-checkbox
              input(type="checkbox" id="agree-resume-page" class="agree" checked)
              label(for="agree-resume-page")
                | Ставя отметку, я даю своё согласие на обработку моих персональных данных в соответствии с законом № 152-ФЗ "О персональных данных" от 27.07.2006 и принимаю условия
                a(href="/agree.html") Пользовательского соглашения
            //end   agree checkbox
            input.resume-form__submit.btn.popup__submit-2(type="submit" value="отправить")

    //end   second-section
  //end   content

  include ../elements/popup
  include ../sections/footer