extends ../_template

block variables
  - var title = 'Ювелирная сеть 585'
  - var pageHeaderTitle = 'Ювелирная сеть 585'

block content
  include ../sections/header
  
  //begin content
  section.main.review
    //begin top-section
    .top-block
      .container-lg(style="background-image:url('assets/img/bg-review-top.jpg')")
        include ../elements/breadcrumbs
        include ../elements/magnific
        include ../elements/top-block-mouse
        .review-top__logo
          img(src="assets/img/clients/clients-01.png" alt="logo")

        .container
          h2.top-block__title Ювелирная сеть 585
          h3.top-block__subtitle Федеральная розничная компания
    //end top-section

    //begin second-section
    section#second-section.review-second
      .container
        .review-second__tags
          .review-second__tag
            span Подбор персонала
          .review-second__tag
            span Head hunting
          .review-second__tag
            span Исследования

        .review-second__item
          .review-second__item-pic
            img(src="assets/img/review-second-item-01.jpg" alt="photo")
          .review-second__item-blockquote
            blockquote
              p Рекомендую ООО “ТОП-Рекрутинг” как эффективного поставщика кадровых услуг и добросовестного партнера.
              h4.revew-second__blockquote-signature Лобанова Татьяна Владимировна
              h5.revew-second__blockquote-position Директор по персоналу

        .review-second__item
          .review-second__item-pic
            img(src="assets/img/review-second-item-02.jpg" alt="photo")
          .review-second__item-blockquote
            blockquote
              p Желаем ООО “ТОП-Рекрутинг” успехов в работе, процветания и развития. Надеемся на дальнейшее плодотворное и взаимовыгодное сотрудничество.
              h4.revew-second__blockquote-signature Савельев Петр Васильевич
              h5.revew-second__blockquote-position Директор по персоналу
    //end   second-section

    //begin review-letters
    section.review-letters
      .container
        //begin decor
        .review-letters__decor
          .review-letters__decor-inn
        //end decor

        h2.title Рекомендательные письма
        .review-letters__item
          .review-letters__pic
            a(href="assets/img/letters/letter-01.jpg" data-fancybox="gallery")
              img(src="assets/img/letters/letter-01-thumb.jpg" alt="letter")
            .review-letters__pic-magnific
              svg
                use(xlink:href="assets/img/sprite.svg#magnific")

          .review-letters__right
            header.review-letters__header
              .review-letters__header-left
                h3.review-letters__title Лобанова Татьяна Владимировна
                h4.review-letters__position Директор по персоналу
              .review-letters__header-right
                .review-second__tag
                  span Подбор персонала
                .review-second__tag
                  span Head hunting
            .review-letters__text
              .review-letters__text-top
                p Федеральная розничная компания “Ювелирная сеть 585”, работает в сфере розничных продаж с 2000 года. На сегодняшний день является крупнейшей по количеству магазинов розничной ювелирной торговой сетью России - 350 магазинов в 130 городах Российской Федерации в которой работает более 2800 сотрудников в Управляющей Компании и четырех Территориальных Дирекциях - Северо-запад, Юг, Сибирь, Поволжье. ООО “ТОП-Рекрутинг” является партнером компании “Ювелирная сеть 585” с 2010 года. За период сотрудничества компания зарекомендовала себя как надежный и стабильный партнер, обладающий следующими ключевыми компетенциями.
              .review-letters__text-bottom
                p Федеральная розничная компания “Ювелирная сеть 585”, работает в сфере розничных продаж с 2000 года. На сегодняшний день является крупнейшей по количеству магазинов розничной ювелирной торговой сетью России - 350 магазинов в 130 городах Российской Федерации в которой работает более 2800 сотрудников в Управляющей Компании и четырех Территориальных Дирекциях - Северо-запад, Юг, Сибирь, Поволжье. ООО “ТОП-Рекрутинг” является партнером компании “Ювелирная сеть 585” с 2010 года. За период сотрудничества компания зарекомендовала себя как надежный и стабильный партнер, обладающий следующими ключевыми компетенциями. Федеральная розничная компания “Ювелирная сеть 585”, работает в сфере розничных продаж с 2000 года. На сегодняшний день является крупнейшей по количеству магазинов розничной ювелирной торговой сетью России - 350 магазинов в 130 городах Российской Федерации в которой работает более 2800 сотрудников в Управляющей Компании и четырех Территориальных Дирекциях - Северо-запад, Юг, Сибирь, Поволжье. ООО “ТОП-Рекрутинг” является партнером компании “Ювелирная сеть 585” с 2010 года. За период сотрудничества компания зарекомендовала себя как надежный и стабильный партнер, обладающий следующими ключевыми компетенциями...
                p Федеральная розничная компания “Ювелирная сеть 585”, работает в сфере розничных продаж с 2000 года. На сегодняшний день является крупнейшей по количеству магазинов розничной ювелирной торговой сетью России - 350 магазинов в 130 городах Российской Федерации в которой работает более 2800 сотрудников в Управляющей Компании и четырех Территориальных Дирекциях - Северо-запад, Юг, Сибирь, Поволжье. ООО “ТОП-Рекрутинг” является партнером компании “Ювелирная сеть 585” с 2010 года. За период сотрудничества компания зарекомендовала себя как надежный и стабильный партнер, обладающий следующими ключевыми компетенциями. Федеральная розничная компания “Ювелирная сеть 585”, работает в сфере розничных продаж с 2000 года. На сегодняшний день является крупнейшей по количеству магазинов розничной ювелирной торговой сетью России - 350 магазинов в 130 городах Российской Федерации в которой работает более 2800 сотрудников в Управляющей Компании и четырех Территориальных Дирекциях - Северо-запад, Юг, Сибирь, Поволжье. ООО “ТОП-Рекрутинг” является партнером компании “Ювелирная сеть 585” с 2010 года. За период сотрудничества компания зарекомендовала себя как надежный и стабильный партнер, обладающий следующими ключевыми компетенциями...
                p Федеральная розничная компания “Ювелирная сеть 585”, работает в сфере розничных продаж с 2000 года. На сегодняшний день является крупнейшей по количеству магазинов розничной ювелирной торговой сетью России - 350 магазинов в 130 городах Российской Федерации в которой работает более 2800 сотрудников в Управляющей Компании и четырех Территориальных Дирекциях - Северо-запад, Юг, Сибирь, Поволжье. ООО “ТОП-Рекрутинг” является партнером компании “Ювелирная сеть 585” с 2010 года. За период сотрудничества компания зарекомендовала себя как надежный и стабильный партнер, обладающий следующими ключевыми компетенциями. Федеральная розничная компания “Ювелирная сеть 585”, работает в сфере розничных продаж с 2000 года. На сегодняшний день является крупнейшей по количеству магазинов розничной ювелирной торговой сетью России - 350 магазинов в 130 городах Российской Федерации в которой работает более 2800 сотрудников в Управляющей Компании и четырех Территориальных Дирекциях - Северо-запад, Юг, Сибирь, Поволжье. ООО “ТОП-Рекрутинг” является партнером компании “Ювелирная сеть 585” с 2010 года. За период сотрудничества компания зарекомендовала себя как надежный и стабильный партнер, обладающий следующими ключевыми компетенциями...
              a(href="#").review-letters__footer-fadein свернуть
              a(href="#").review-letters__footer-fadeout читать полностью


        .review-letters__item
          .review-letters__pic
            a(href="assets/img/letters/letter-01.jpg" data-fancybox="gallery")
              img(src="assets/img/letters/letter-01-thumb.jpg" alt="letter")
            .review-letters__pic-magnific
              svg
                use(xlink:href="assets/img/sprite.svg#magnific")
          .review-letters__right
            header.review-letters__header
              .review-letters__header-left
                h3.review-letters__title Савельев Петр Васильевич
                h4.review-letters__position Директор по персоналу
              .review-letters__header-right
                .review-second__tag
                  span Подбор персонала
                .review-second__tag
                  span Head hunting
            .review-letters__text
              .review-letters__text-top
                p Федеральная розничная компания “Ювелирная сеть 585”, работает в сфере розничных продаж с 2000 года. На сегодняшний день является крупнейшей по количеству магазинов розничной ювелирной торговой сетью России - 350 магазинов в 130 городах Российской Федерации в которой работает более 2800 сотрудников в Управляющей Компании и четырех Территориальных Дирекциях - Северо-запад, Юг, Сибирь, Поволжье. ООО “ТОП-Рекрутинг” является партнером компании “Ювелирная сеть 585” с 2010 года. За период сотрудничества компания зарекомендовала себя как надежный и стабильный партнер, обладающий следующими ключевыми компетенциями.
              .review-letters__text-bottom
                p Федеральная розничная компания “Ювелирная сеть 585”, работает в сфере розничных продаж с 2000 года. На сегодняшний день является крупнейшей по количеству магазинов розничной ювелирной торговой сетью России - 350 магазинов в 130 городах Российской Федерации в которой работает более 2800 сотрудников в Управляющей Компании и четырех Территориальных Дирекциях - Северо-запад, Юг, Сибирь, Поволжье. ООО “ТОП-Рекрутинг” является партнером компании “Ювелирная сеть 585” с 2010 года. За период сотрудничества компания зарекомендовала себя как надежный и стабильный партнер, обладающий следующими ключевыми компетенциями. Федеральная розничная компания “Ювелирная сеть 585”, работает в сфере розничных продаж с 2000 года. На сегодняшний день является крупнейшей по количеству магазинов розничной ювелирной торговой сетью России - 350 магазинов в 130 городах Российской Федерации в которой работает более 2800 сотрудников в Управляющей Компании и четырех Территориальных Дирекциях - Северо-запад, Юг, Сибирь, Поволжье. ООО “ТОП-Рекрутинг” является партнером компании “Ювелирная сеть 585” с 2010 года. За период сотрудничества компания зарекомендовала себя как надежный и стабильный партнер, обладающий следующими ключевыми компетенциями...
                p Федеральная розничная компания “Ювелирная сеть 585”, работает в сфере розничных продаж с 2000 года. На сегодняшний день является крупнейшей по количеству магазинов розничной ювелирной торговой сетью России - 350 магазинов в 130 городах Российской Федерации в которой работает более 2800 сотрудников в Управляющей Компании и четырех Территориальных Дирекциях - Северо-запад, Юг, Сибирь, Поволжье. ООО “ТОП-Рекрутинг” является партнером компании “Ювелирная сеть 585” с 2010 года. За период сотрудничества компания зарекомендовала себя как надежный и стабильный партнер, обладающий следующими ключевыми компетенциями. Федеральная розничная компания “Ювелирная сеть 585”, работает в сфере розничных продаж с 2000 года. На сегодняшний день является крупнейшей по количеству магазинов розничной ювелирной торговой сетью России - 350 магазинов в 130 городах Российской Федерации в которой работает более 2800 сотрудников в Управляющей Компании и четырех Территориальных Дирекциях - Северо-запад, Юг, Сибирь, Поволжье. ООО “ТОП-Рекрутинг” является партнером компании “Ювелирная сеть 585” с 2010 года. За период сотрудничества компания зарекомендовала себя как надежный и стабильный партнер, обладающий следующими ключевыми компетенциями...
                p Федеральная розничная компания “Ювелирная сеть 585”, работает в сфере розничных продаж с 2000 года. На сегодняшний день является крупнейшей по количеству магазинов розничной ювелирной торговой сетью России - 350 магазинов в 130 городах Российской Федерации в которой работает более 2800 сотрудников в Управляющей Компании и четырех Территориальных Дирекциях - Северо-запад, Юг, Сибирь, Поволжье. ООО “ТОП-Рекрутинг” является партнером компании “Ювелирная сеть 585” с 2010 года. За период сотрудничества компания зарекомендовала себя как надежный и стабильный партнер, обладающий следующими ключевыми компетенциями. Федеральная розничная компания “Ювелирная сеть 585”, работает в сфере розничных продаж с 2000 года. На сегодняшний день является крупнейшей по количеству магазинов розничной ювелирной торговой сетью России - 350 магазинов в 130 городах Российской Федерации в которой работает более 2800 сотрудников в Управляющей Компании и четырех Территориальных Дирекциях - Северо-запад, Юг, Сибирь, Поволжье. ООО “ТОП-Рекрутинг” является партнером компании “Ювелирная сеть 585” с 2010 года. За период сотрудничества компания зарекомендовала себя как надежный и стабильный партнер, обладающий следующими ключевыми компетенциями...
              a(href="#").review-letters__footer-fadein свернуть
              a(href="#").review-letters__footer-fadeout читать полностью
    //end   review-letters

  //end   content

  include ../elements/popup
  include ../sections/footer