extends ../_template

block variables
  - var title = 'Услуги по поиску и подбору сотрудников на работу'
  - var pageHeaderTitle = 'Услуги по поиску и подбору сотрудников на работу'

block content
  include ../sections/header
  
  //begin content
  section.main.service-2
    //begin top-section
    .top-block
      .container-lg(style="background-image:url('assets/img/bg-service-top-2.jpg')")
        include ../elements/breadcrumbs
        //begin decor
        .service-top__decor
          .service-top__decor-inn
        //end decor

        .container
          h2.top-block__title
            |Услуги по поиску и подбору
            br
            |сотрудников на работу
    //end top-section


    //begin second-section
    section.service-2-second
      .container
        .service-2-second__menu
          .service-2-second__menu-inn
            h3.service-2-second__menu-title Виды подбора персонала
            ul.service-2-second__menu-list
              li.service-2-second__menu-item
                a(href="#").service-2-second__menu-link Целенаправленный поиск
              li.service-2-second__menu-item
                a(href="#").service-2-second__menu-link.active Хедхантинг
              li.service-2-second__menu-item
                a(href="#").service-2-second__menu-link Поиск и подбор резюме
              li.service-2-second__menu-item
                a(href="#").service-2-second__menu-link Привлечение талантов
              li.service-2-second__menu-item
                a(href="#").service-2-second__menu-link Дни карьеры

          .service-2-second__menu-inn
            h3.service-2-second__menu-title
              |Подбираем персонал
              br
              |в котором Вы нуждаетесь
            ul.service-2-second__menu-list
              li.service-2-second__menu-item
                a(href="#").service-2-second__menu-link Топ менеджеры
              li.service-2-second__menu-item
                a(href="#").service-2-second__menu-link Юристы
              li.service-2-second__menu-item
                a(href="#").service-2-second__menu-link Бухгалтеры
              li.service-2-second__menu-item
                a(href="#").service-2-second__menu-link IT персонал
              li.service-2-second__menu-item
                a(href="#").service-2-second__menu-link Менеджеры по продажам
              li.service-2-second__menu-item
                a(href="#").service-2-second__menu-link Персонал в логистике
              li.service-2-second__menu-item
                a(href="#").service-2-second__menu-link Специалисты
              li.service-2-second__menu-item
                a(href="#").service-2-second__menu-link Банковский персонал
              li.service-2-second__menu-item
                a(href="#").service-2-second__menu-link Персонал для нефтегазовой отрасли
              li.service-2-second__menu-item
                a(href="#").service-2-second__menu-link Персонал для строительной отрасли
              li.service-2-second__menu-item
                a(href="#").service-2-second__menu-link Персонал СРО
              li.service-2-second__menu-item
                a(href="#").service-2-second__menu-link Персонал в гостиничный бизнес
              li.service-2-second__menu-item
                a(href="#").service-2-second__menu-link Персонал в ритейл
              li.service-2-second__menu-item
                a(href="#").service-2-second__menu-link Торговый персонал

        .service-2-second__content
          .service-2-second__content-pic.float-right
            img(src="assets/img/service-second-content.jpg" alt="image")
          p Быстрое и эффективное решение HR-задач способствует развитию Вашего бизнеса, делает его успешным, конкурентоспособным. Однако поиск персонала целенаправленная работа, в которой нельзя полагаться лишь на собственные силы без знаний и опыта.
          p Основной аргумент в пользу нашего агентства – качество предоставляемых кандидатов и их соответствие Вашим требованиям. Поиск сотрудников на работу в СПб, Москве и других регионах начинается после определения критериев отбора, изучения особенностей корпоративной культуры и перспективной стратегии компании Заказчика. Далее формируется список возможных кандидатов (Long list) и составляется отчет- резюме для работодателя с комментариями о мотивации интересующих соискателей, о соответствии личностных характеристик и компетенций.
          p На каждом этапе, от интервью с Заказчиком до сопровождения трудоустроенного кандидата, Вам гарантирован индивидуальный подход. Также с учетом профессиональных знаний в интересующей отрасли экономики подбирается персональный Руководитель проекта и ресечер, осуществляющий поиск специалистов.
          p
            span
              |Более подробную информацию Вы можете получить, обратившись к нам по телефону:
              br
              |8 (812) 320-01-21 в Санкт-Петербурге, 8 (495) 909-81-77 в Москве.
    //end second-section


    //begin service-form-section
    section.service-form-section
      .container
        //begin service-form decor
        .service-form__decor
          .service-form__decor-inn
        //end service-form decor
        h2.title Заказать услугу
        form.service-form
          .service-form__left
            input.service-form__input(type="text" name="name"    placeholder="Как к Вам обращаться?*" required)
            input.service-form__input(type="text" name="phone"   placeholder="Телефон или e-mail*" required)
          .service-form__right
            textarea.service-form__textarea(name="descr" placeholder="Коментарий")

          //begin agree checkbox
          .agree-checkbox
            input(type="checkbox" id="service-form" class="agree" checked)
            label(for="service-form")
              | Ставя отметку, я даю своё согласие на обработку моих персональных данных в соответствии с законом № 152-ФЗ "О персональных данных" от 27.07.2006 и принимаю условия
              a(href="/agree.html") Пользовательского соглашения
          //end   agree checkbox
          input.service-form__submit.btn.popup__submit-2(type="submit" value="заказать")
    //end   service-form-section
  //end   content

  include ../elements/popup
  include ../sections/footer