extends ../_template

mixin worker-slider__item(label, title, text)
  //begin item
  li.worker-slider__item
    .worker-slider__item-header
      .worker-slider__label
        span= label
      .worker-slider__date
        svg
          use(xlink:href="assets/img/sprite.svg#calendar")
        span 17.09.2017
    h3.worker-slider__title= title
    p= text
    a(href="#").worker-slider__link читать полностью
  //end item

block variables
  - var title = 'Егорова Инна'
  - var pageHeaderTitle = 'Егорова Инна'

block content
  include ../sections/header
  
  //begin content
  section.main.worker
    //begin top-section
    .top-block
      .container-lg
        include ../elements/magnific
        include ../elements/top-block-mouse
        .worker-top__left(style="background-image:url('assets/img/bg-worker-top.jpg')")
        .worker-top__right
          include ../elements/breadcrumbs

          h2.worker-top__title.title Егорова Инна
          h3.worker-top__subtitle Управляющий партнер кадрового агентства «ТОП РЕКРУТИНГ»
          .worker-top__accordeon
            .worker-top__accordeon-item
              span.worker-top__accordeon-btn Специализация
              .worker-top__accordeon-text
                p Инна Егорова является одной из основателей Компании ТОП Рекрутинг и ее дочерних бизнесов. Инна является Управляющим партнером агентства и отвечает за его функционирование и развитие. Как Управляющий Партнер, она участвует в проектах по поиску ТОП Менеджеров для крупных предприятий передовых секторов экономики. Она также руководит проектами в области реструктуризации человеческого капитала в частных компаниях.

            .worker-top__accordeon-item
              span.worker-top__accordeon-btn Профессиональный опыт
              .worker-top__accordeon-text
                p Инна Егорова является одной из основателей Компании ТОП Рекрутинг и ее дочерних бизнесов. Инна является Управляющим партнером агентства и отвечает за его функционирование и развитие. Как Управляющий Партнер, она участвует в проектах по поиску ТОП Менеджеров для крупных предприятий передовых секторов экономики. Она также руководит проектами в области реструктуризации человеческого капитала в частных компаниях.

            .worker-top__accordeon-item
              span.worker-top__accordeon-btn Образование
              .worker-top__accordeon-text
                p Инна Егорова является одной из основателей Компании ТОП Рекрутинг и ее дочерних бизнесов. Инна является Управляющим партнером агентства и отвечает за его функционирование и развитие. Как Управляющий Партнер, она участвует в проектах по поиску ТОП Менеджеров для крупных предприятий передовых секторов экономики. Она также руководит проектами в области реструктуризации человеческого капитала в частных компаниях.
    //end top-section

    //begin second-section
    section#second-section.worker-second
      .container
        h2.title.worker-second__title Публикации сотрудника
        .worker-slider
          ul.worker-slider__list
            +worker-slider__item(
            'новость',
            'Деловой Петербург: Виртуальный стаж. Министерство труда подготовило дорогой сюрприз для работодателей',
            'Министерство труда разрабатывает проект перехода на электронные трудовые книжки, который может начаться уже в январе 2018 года. Планируется, что отказ от бумажных носителей в будущем снизит издержки работодателей, однако при ближайшем рассмотрении может оказаться, что расходы работодателей, наоборот, вырастут. Трудовая в книжка в нынешнем виде это безусловный атавизм, говорит Инна Егорова, генеральный директор и совладелец "ТОП Рекрутинг".'
            )
            +worker-slider__item(
            'кейс',
            'Закрытие вакансии Директора по строительству завода для крупного Фармацевтического холдинга.',
            'Директор по персоналу Холдинга обратилась к нам после нескольких месяцев безуспешного поиска. После подробного обсуждения заявки с HR и ЛПР (лицо принимающее решение) мы приступили к поиску и подбору достойных кандидатов. Спустя неделю, предоставили на рассмотрение два резюме отобранных нами специалистов, полностью подходящих под описание Заказчика.'
            )
            +worker-slider__item(
            'интервью',
            'Комсомольская правда: Как ищут работу ТОПы',
            'Генеральный директор «ТОП Рекрутинг» Инна Егорова поделилась с издательством своим опытом и рассказала о реалиях рынка труда для управленцев. Как ищут работу начальники? Как найти достойное предложение?'
            )
            +worker-slider__item(
            'новость',
            'Деловой Петербург: Виртуальный стаж. Министерство труда подготовило дорогой сюрприз для работодателей',
            'Министерство труда разрабатывает проект перехода на электронные трудовые книжки, который может начаться уже в январе 2018 года. Планируется, что отказ от бумажных носителей в будущем снизит издержки работодателей, однако при ближайшем рассмотрении может оказаться, что расходы работодателей, наоборот, вырастут. Трудовая в книжка в нынешнем виде это безусловный атавизм, говорит Инна Егорова, генеральный директор и совладелец "ТОП Рекрутинг".'
            )
            +worker-slider__item(
            'кейс',
            'Закрытие вакансии Директора по строительству завода для крупного Фармацевтического холдинга.',
            'Директор по персоналу Холдинга обратилась к нам после нескольких месяцев безуспешного поиска. После подробного обсуждения заявки с HR и ЛПР (лицо принимающее решение) мы приступили к поиску и подбору достойных кандидатов. Спустя неделю, предоставили на рассмотрение два резюме отобранных нами специалистов, полностью подходящих под описание Заказчика.'
            )
            +worker-slider__item(
            'интервью',
            'Комсомольская правда: Как ищут работу ТОПы',
            'Генеральный директор «ТОП Рекрутинг» Инна Егорова поделилась с издательством своим опытом и рассказала о реалиях рынка труда для управленцев. Как ищут работу начальники? Как найти достойное предложение?'
            )
            +worker-slider__item(
            'новость',
            'Деловой Петербург: Виртуальный стаж. Министерство труда подготовило дорогой сюрприз для работодателей',
            'Министерство труда разрабатывает проект перехода на электронные трудовые книжки, который может начаться уже в январе 2018 года. Планируется, что отказ от бумажных носителей в будущем снизит издержки работодателей, однако при ближайшем рассмотрении может оказаться, что расходы работодателей, наоборот, вырастут. Трудовая в книжка в нынешнем виде это безусловный атавизм, говорит Инна Егорова, генеральный директор и совладелец "ТОП Рекрутинг".'
            )
            +worker-slider__item(
            'кейс',
            'Закрытие вакансии Директора по строительству завода для крупного Фармацевтического холдинга.',
            'Директор по персоналу Холдинга обратилась к нам после нескольких месяцев безуспешного поиска. После подробного обсуждения заявки с HR и ЛПР (лицо принимающее решение) мы приступили к поиску и подбору достойных кандидатов. Спустя неделю, предоставили на рассмотрение два резюме отобранных нами специалистов, полностью подходящих под описание Заказчика.'
            )
            +worker-slider__item(
            'интервью',
            'Комсомольская правда: Как ищут работу ТОПы',
            'Генеральный директор «ТОП Рекрутинг» Инна Егорова поделилась с издательством своим опытом и рассказала о реалиях рынка труда для управленцев. Как ищут работу начальники? Как найти достойное предложение?'
            )

    //end second-section

    //begin worker-question
    section.worker-question
      .container
        //begin service-form decor
        .worker-form__decor
          .worker-form__decor-inn
        //end service-form decor
        h2.title Вы можете задать вопрос Инне Игоревне
        h3.subtitle Для этого заполните форму ниже
        form.worker-form
          .worker-form__left
            input.worker-form__input(type="text" name="name"    placeholder="Как к Вам обращаться?*" required)
            input.worker-form__input(type="text" name="phone"   placeholder="Телефон или e-mail*" required)
          .worker-form__right
            textarea.worker-form__textarea(name="descr" placeholder="Ваш вопрос")

          //begin agree checkbox
          .agree-checkbox
            input(type="checkbox" id="service-form" class="agree" checked)
            label(for="service-form")
              | Ставя отметку, я даю своё согласие на обработку моих персональных данных в соответствии с законом № 152-ФЗ "О персональных данных" от 27.07.2006 и принимаю условия
              a(href="/agree.html") Пользовательского соглашения
          //end   agree checkbox
          input.worker-form__submit.btn.popup__submit-2(type="submit" value="задать вопрос")
    //end   worker-question
  //end   content

  include ../elements/popup
  include ../sections/footer