@import 'core/variables';
@import 'core/mixins';

//begin 404 page
.error .top-block {
  .container-lg {
    display: flex;
    background-position: 50% 50%;
  }
  .container {
    display: flex;
    align-items: flex-end;
  }
  .top-block__title {
    font-size: 150px;
    margin-bottom: 50px;

    @include max(600) {
      font-size: 100px;
    }
  }
}
.error-second {
  .container {
    padding-top: 30px;
    padding-bottom: 80px;
  }
  p {
    font-family: $font-light;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
    color: $text;
  }
  .btn {
    margin-top: 50px;
  }
}
.error-second__title {
  margin-bottom: 50px;
}
//end 404 page



//begin case page
.case .top-block {
  .container-lg {
    display: flex;
    background-position: 70% 50%;
  }
  .container {
    display: flex;
    align-items: flex-end;
  }
  .top-block__title {
    margin-bottom: 50px;

    @include max(375) {
      font-size: 24px;
    }
  }
}
.case-second {
  .container {
    padding-top: 30px;
    padding-bottom: 80px;
  }
  p {
    font-family: $font-light;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    color: $text;
  }
  .btn {
    margin-top: 50px;
  }
}
//end case page
