.anketa-second {
  position: relative;
  min-height: 750px;
  .container {
    display: flex;
  }
}
.anketa-second__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow: hidden;
}
.anketa-second__bg-left,
.anketa-second__bg-right {
  width: 50%;
}
//begin mail-decor
.anketa-second__bg-right {
  position: relative;
  background-color: #909090;
  background-image: url('../../img/bg-anketa.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  &::before {
    position: absolute;
    bottom: 70px;
    left: calc(-100% + 70px);
    width: 100%;
    height: 240px;
    content: '';
    background-image: url('../../img/mails-g.svg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
  }
}
.anketa-second__bg-right-inn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  &::before {
    position: absolute;
    bottom: 70px;
    left: calc(-100% + 70px);
    width: 100%;
    height: 240px;
    content: '';
    background-image: url('../../img/mails-w.svg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
  }
}
//end mail-decor

.anketa-second__left,
.anketa-second__right {
  width: 50%;
  padding-bottom: 55px;
}
.anketa-second__left {
  padding-right: 55px;
  p {
    font-family: $font-light;
    font-size: 14px;
    margin-bottom: 25px;
    color: $text;
    span {
      font-family: $font-semibold;
      color: $title;
    }
  }
}

.anketa-second__right {
  padding-top: 55px;
  padding-left: 55px;
}
.anketa-form {
  width: 100%;
}
.anketa-form__input,
.anketa-form__textarea {
  border: 2px solid #b4b4b4;
  width: 100%;
  background-color: transparent;
  margin-bottom: 25px;
  //padding: 0 20px 0 28px;
  padding: 20px 28px;
  @include placeholder-color(#b4b4b4);
}
.anketa-form__input {
  height: 60px;
}
.anketa-form__textarea {
  height: 145px;
}

.anketa-form__submit {
  min-width: 270px;
}