.case .top-block {
  .container-lg {
    position: relative;
    display: flex;
    background-position: 70% 50%;
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      pointer-events: none;
      background-color: rgba(0,0,0,.2);
    }
  }
  .container {
    display: flex;
    align-items: flex-end;
  }
  .top-block__title {
    margin-bottom: 50px;

    @include max(375) {
      font-size: 24px;
    }
  }
}
.case-second {
  .container {
    padding-top: 30px;
    padding-bottom: 80px;
  }
  p {
    font-family: $font-light;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    color: $text;
  }
  .btn {
    margin-top: 50px;
  }
}
