.cases .top-block {
  .container-lg {
    display: flex;
    background-position: 70% 50%;
  }
  .container {
    display: flex;
    align-items: flex-end;
  }
  .top-block__title {
    margin-bottom: 50px;
  }
}


