.company .top-block {
  .container-lg {
    display: flex;
    background-position: 50% 50%;
  }
  .container {
    display: flex;
    align-items: flex-end;
  }
  .top-block__title {
    margin-bottom: 50px;
  }
}

//begin second section
.company-second {
  padding-bottom: 80px;
  .container {
    display: flex;
    align-items: flex-start;

    @include max(1000) {
      flex-direction: column;
    }
  }
}
.company-director__left,
.company-director__right {
  width: 50%;

  @include max(1000) {
    width: 100%;
  }
}
.company-director__left {
  position: relative;
  padding-top: 5px;
  padding-right: 70px;

  @include max(1200) {
    min-width: 540px;

    flex: none;
  }
  @include max(1000) {
    min-width: 0;
    margin-bottom: 50px;
    padding-right: 0;
  }
  img {
    display: block;
    width: 100%;
    max-width: 515px;
  }
}
.company-director__table {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  min-width: 290px;
  padding-top: 30px;
  background-color: #fff;

  @include max(550) {
    width: 100%;
  }
}
.company-director__name {
  font-family: $font-semibold;
  font-size: 20px;
  margin: 0 0 10px 0;
  color: $title;
}
.company-director__position {
  font-family: $font-light;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: $title;
}
.company-director__right {
  .title {
    line-height: 1;
  }
  p {
    font-family: $font-light;
    font-size: 14px;
    margin-bottom: 30px;
  }
}
//end second section

//begin company services
.company-services {
  position: relative;
  overflow: hidden;
  padding-bottom: 80px;
  p {
    font-family: $font-light;
    font-size: 14px;
  }
}
.company-services__header {
  .container {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}
//end company services

//begin company services decor
.company-services__bg {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  background-color: #f0f0f0;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -100%;
    content: '';
    background-color: #f0f0f0;
  }
  &::after {
    position: absolute;
    top: -60px;
    right: -280px;
    width: 377px;
    height: 322px;
    content: '';
    background-image: url('../img/gear-g.png');
    background-size: contain;
  }
}
.company-services__bg-inn {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  &::before {
    position: absolute;
    top: 14px;
    right: -153px;
    width: 250px;
    height: 248px;
    content: '';
    background-image: url('../img/gear-w.png');
    background-size: contain;
  }
}
//end company services decor

.company-services {
  .container-lg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include max(1220) {
      justify-content: space-around;
    }
  }
}
.company-services__link {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 31%;
  height: 350px;
  margin-bottom: 80px;
  padding: 25px 60px 25px 40px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include max(1220) {
    width: 48%;
  }
  @include max(700) {
    width: 100%;
    margin-bottom: 20px;
  }
  &:hover {
    &::before {
      background-color: $highlight-hov;
    }
  }
  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    content: '';
    transition: background-color .5s ease-in-out;
    background-color: $highlight;
    background-image: url('../img/arrow-right.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
.company-services__links-title {
  font-size: 35px;
  color: #fff;

  @include max(1440) {
    font-size: 30px;
  }
}

//begin company-services__columns
.company-services__columns {
  .container {
    column-gap: 80px;

    columns: 2;
    @include max(700) {
      padding-top: 40px;

      columns: auto;
    }
  }
  p {
    font-size: 13px;
    line-height: 23px;
  }
}
//end company-services__columns


//begin company-footer
.company-footer {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;

    @include max(700) {
      flex-wrap: wrap;
    }
  }
}
.company-footer__left {
  max-width: 840px;
  padding-right: 20px;

  @include max(700) {
    margin-bottom: 30px;
    padding-right: 0;
  }
  p {
    font-family: $font-light;
    font-size: 14px;
    line-height: 24px;
    color: $text;
    span {
      font-family: $font-semibold;
      font-size: 17px;
      color: $title;
    }
  }
}
.company-footer__right {
  width: 270px;
  margin-right: -55px;

  flex: none;
  @include max(1360) {
    margin-right: 0;
  }
  .btn {
    width: 100%;
  }
}

//end company-footer
