.error .top-block {
  .container-lg {
    display: flex;
    background-position: 50% 50%;
  }
  .container {
    display: flex;
    align-items: flex-end;
  }
  .top-block__title {
    font-size: 150px;
    margin-bottom: 50px;

    @include max(600) {
      font-size: 100px;
    }
  }
}
.error-second {
  .container {
    padding-top: 30px;
    padding-bottom: 140px;
  }
  p {
    font-family: $font-light;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
    color: $text;
  }
  .btn {
    margin-top: 50px;
  }
}
.error-second__title {
  margin-bottom: 50px;
}