.service-2 {
  .top-block {
    overflow: hidden;
    margin-bottom: -30px;

    @include max(1000) {
      margin-bottom: 0;
    }
    .container-lg {
      position: relative;
      display: flex;
      min-height: 715px;
      padding-bottom: 170px;
      background-position: 40% 50%;

      @include max(1000) {
        padding-bottom: 50px;
      }
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      @include max(1440) {
        align-items: flex-end;
        text-align: right;
      }
      @include max(1200) {
        padding-left: 300px;
      }
    }
    .top-block__title {
      margin-bottom: 0;
      max-width: 1000px;
    }
  }
}

.service-2-second {
  .container {
    display: flex;
    padding-bottom: 100px;

    @include max(1000) {
      flex-direction: column-reverse;
      padding-bottom: 30px;
    }
  }
}

//begin service-2-second__menu
.service-2-second__menu {
  width: 320px;
  padding-right: 20px;
  border-right: 1px solid #e6e6e6;

  flex: none;
  @include max(1100) {
    width: 280px;
  }
  @include max(1000) {
    display: flex;
    width: 100%;
    padding-right: 0;
    border-right: none;
  }
  @include max(500) {
    flex-wrap: wrap;
  }
}
.service-2-second__menu-inn {
  @include max(1000) {
    width: 50%;
  }
  @include max(500) {
    width: 100%;
  }
}
.service-2-second__menu-title {
  font-family: $font-semibold;
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 30px;
  color: $title;
}
.service-2-second__menu-list {
  margin: 0 0 30px 0;
  padding: 0;
}
.service-2-second__menu-item {
  margin: 0;
  padding: 2px 0;
  list-style: none;
}
.service-2-second__menu-link {
  font-family: $font-light;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #969696;
  &:hover,
  &.active {
    color: $highlight;
  }
}
//end service-2-second__menu

//begin service-2-second__content
.service-2-second__content {
  padding-left: 80px;

  @include max(1100) {
    padding-left: 30px;
  }
  @include max(1000) {
    margin-bottom: 40px;
    padding-bottom: 30px;
    padding-left: 0;
    border-bottom: 1px solid #e6e6e6;
  }
  p {
    font-family: $font-light;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
    color: $text;
    span {
      font-family: $font-semibold;
      font-size: 17px;
      line-height: 27px;
      color: $title;
    }
  }
}
.service-2-second__content-pic {
  display: inline-block;
  &.float-right {
    float: right;
    margin-right: -50px;
    padding: 5px 0 40px 50px;

    @include max(1300) {
      margin-right: 0;
    }
    @include max(600) {
      display: block;
      float: none;
      margin-bottom: 30px;
      padding: 0;
    }
  }
  &.float-left {
    float: left;
    padding: 10px 50px 20px 0;

    @include max(600) {
      display: block;
      float: none;
      margin-bottom: 20px;
      padding: 0;
    }
  }
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}
//end service-2-second__content
