.vacancy .top-block {
  .container-lg {
    display: flex;
    background-position: 70% 50%;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .top-block__city {
    font-family: $font-bold-os;
    font-size: 10px;
    line-height: 22px;
    display: inline-block;
    margin-bottom: 30px;
    padding: 3px 10px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    color: #fff;
    background-color: #2b374d;
  }
  .top-block__title {
    margin-bottom: 30px;
  }
  .top-block__subtitle {
    font-family: $font-light;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px;
    color: #fff;
  }
}
.vacancy-second {
  .container {
    padding-bottom: 100px;
    background-image: url('../img/stamp.png');
    background-repeat: no-repeat;
    background-position: 90% 95%;
  }
  .custom-ul {
    margin-bottom: 60px;
  }
}
.vacancy-second-footer {
  padding-top: 50px;
}
.vacancy-second-footer__text {
  font-family: $font-light;
  font-size: 12px;
  display: block;
  color: #969696;
}
.vacancy-second-footer__date {
  font-family: $font-bold;
  font-size: 25px;
  display: block;
  color: $title;
}

//begin vacancy form
.vacancy-form-section {
  overflow: hidden;
  .container {
    position: relative;
    padding-top: 100px;
    padding-bottom: 140px;
  }
  .title {
    position: relative;
  }
}
.vacancy-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .agree-checkbox {
    width: 100%;
    padding-top: 20px;
    label {
      max-width: 580px;
    }
  }
}
.vacancy-form__left,
.vacancy-form__right {
  width: 48%;

  @include max(700) {
    width: 100%;
  }
}
.vacancy-form__input,
.vacancy-form__textarea {
  width: 100%;
  margin-bottom: 25px;
  padding: 20px 28px;
  border: 2px solid #b4b4b4;
  background-color: transparent;

  @include placeholder-color(#b4b4b4);
}
.vacancy-form__input {
  height: 60px;
}
.vacancy-form__textarea {
  height: 145px;
}

.vacancy-form__submit {
  min-width: 270px;
}
//end vacancy form

//begin vacancy-form decor
.vacancy-form__decor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -500px;
  content: '';
  background-image: url('../img/bg-vacancy-form.jpg');
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;

  @include max(1024) {
    left: 0;
  }
  &::before {
    position: absolute;
    bottom: 70px;
    left: calc(100% - 150px);
    width: 450px;
    height: 300px;
    content: '';
    background-image: url('../img/vacancy-mail-g.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
}
.vacancy-form__decor-inn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  &::before {
    position: absolute;
    bottom: 70px;
    left: calc(100% - 150px);
    width: 450px;
    height: 300px;
    content: '';
    background-image: url('../img/vacancy-mail-w.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
}
//end vacancy-form decor
